<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Becas | Bienestar Estudiantil </title>
    <link rel="icon" href="img/logos/logoUleamPestaña.ico">
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
    crossorigin="anonymous">
    <!--CSS-->
    <link rel="stylesheet" href="css/styles.css">
    <!-- FONTAWESOME -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" 
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" 
    crossorigin="anonymous"/>

</head>
<body>
    
    <!-- BARRA DE NAVEGACION -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white py-3 fixed-top">
      <div class="container">
        <img onclick="window.location.href='index.html'" src="img/logos/logoUleam.png" alt="logo" class="uleam">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span><i id="bar" class="fas fa-bars"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            
            <li class="nav-item">
              <a class="nav-link " href="index.html">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="becas.html">Becas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="postulacion.html">Postulacion</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contacto.html">Contacto</a>
            </li>           
            
        </div>
      </div>
    </nav>

    <section class="contenedor my-5 py-5">
      
      <div class="container mt-5 py-5">
        <h3 class="centrar-texto">Becas destacadas</h3>

        <div class="beca">
            <div class="beca__imagen">
                <img src="img/blog/socioeconomica.png" alt="Imagen del beca">
            </div>
            
            <div class="beca__informacion">
                <h4 class="no-margin">Beca Por Situación Socioeconómica</h4>
                <p class="beca__label">Se trata de:</p>
                </p>
                <p class="beca__descripcion">
                  Una subvención de caracter excepcional no reembolsable que se otorga a los estudiantes regulares, cuyas condiciones 
                  socioeconomicas son desfavorables y afecten de una manera negativa su proceso de aprendizaje dentro de la universidad presente.
                </p>
                <a href="postulacion.html" class="boton boton--primario">Postular</a>
        </div> <!--.beca-informacion-->
            
        </div> <!--.beca-->
        <div class="beca">
          <div class="beca__imagen">
              <img src="img/blog/rendimiento.png" alt="Imagen del beca">
          </div>
          
          <div class="beca__informacion">
              <h4 class="no-margin">Beca Por Alto Rendimiento</h4>
              <p class="beca__label">Se trata de:</p>
              </p>
              <p class="beca__descripcion">
                Un estímulo que reciben los/as estudiantes regulares para alcanzar un promedio excelente de acuerdo a sus notas del semestre/periodo
                 previo al otorgamiento de la beca e informe de la Comisión Calificadora de Becas.
              </p>
              <a href="postulacion.html" class="boton boton--primario">Postular</a>
          </div> <!--.beca-informacion-->
          
        </div> <!--.beca-->
      
        <div class="beca">
          <div class="beca__imagen">
              <img src="img/blog/discapacitado.png" alt="Imagen del beca">
          </div>
          
          <div class="beca__informacion">
              <h4 class="no-margin">Beca Por Discapacidad</h4>
              <p class="beca__label">Se trata de:</p>
              </p>
              <p class="beca__descripcion">
                Una beca que otorga la universidad a favor de los estudiantes regulares que presentan discapacidad y enfermedades catastróficas.
                ULEAM siempre inclusiva con todos sus estudiantes.
              </p>
              <a href="postulacion.html" class="boton boton--primario">Postular</a>
          </div> <!--.beca-informacion-->
          
        </div> <!--.beca-->

        <div class="beca">
          <div class="beca__imagen">
              <img src="img/blog/movilidad.png" alt="Imagen del beca">
          </div>
          
          <div class="beca__informacion">
              <h4 class="no-margin">Ayuda Por Movilidad Académica</h4>
              <p class="beca__label">Se trata de:</p>
              </p>
              <p class="beca__descripcion">
                una subvencion de carácter excepcional, otorgada a favor de los estudiantes regulares, para su movilidad académica, capacitación, 
                formación.
              </p>
              <a href="postulacion.html" class="boton boton--primario">Postular</a>
          </div> <!--.beca-informacion-->
          
        </div> <!--.beca-->

        <div class="beca">
          <div class="beca__imagen">
              <img src="img/blog/cientifico.png" alt="Imagen del beca">
          </div>
          
          <div class="beca__informacion">
              <h4 class="no-margin">Beca Por Mérito Científico</h4>
              <p class="beca__label">Se trata de:</p>
              </p>
              <p class="beca__descripcion">
                Una beca que se otorgan a los estudiantes regulares que se hayan destacado en actividades cientificas, tecnológicas o de innovación, 
                ganadores de conbecas nacionales.
              </p>
              <a href="postulacion.html" class="boton boton--primario">Postular</a>
          </div> <!--.beca-informacion-->
          
        </div> <!--.beca-->

        <div class="beca">
          <div class="beca__imagen">
              <img src="img/blog/afirmativa.png" alt="Imagen del beca">
          </div>
          
          <div class="beca__informacion">
              <h4 class="no-margin">Beca Por Acción Afirmativa</h4>
              <p class="beca__label">Se trata de:</p>
              </p>
              <p class="beca__descripcion">
                Una beca que tiene como objetivo promover el estudio de estudiantes pertenecientes a grupos vulnerables que tengan deseos de estudiar cualquier 
                carrera de pregrado.
              </p>
              <a href="postulacion.html" class="boton boton--primario">Postular</a>
          </div> <!--.beca-informacion-->
          
        </div> <!--.beca-->

      </div>

    </section>

    <footer class="mt-5 py-5">
      <div class="row container mx-auto pt-5">
        <div class="footer-one col-lg-3 col-md-6 col-12">
          <img src="img/logos/logoUleam.png" alt="logo" class="uleam uleam__footer">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque delectus 
            blanditiis commodi consectetur vitae laboriosam quos adipisci aliquid</p>
        </div>
        <div class="footer-one col-lg-3 col-md-6 col-12 mb-3">
          <h5 class="pb-2">Recomendados</h5>
          <ul class="text-uppercase list-unstyled">
            <li><a href="perifericos.html">Becas</a></li>
            <li><a href="juegos.html">Postulacion</a></li>
            <li><a href="perifericos.html">Contacto</a></li>
          </ul>
        </div>
        <div class="footer-one col-lg-3 col-md-6 col-12 mb-3">
          <h5 class="pb-2">Contáctanos</h5>
          <div>
            <h6 class="text-uppercase">Dirección</h6>
            <p>Av. Circunvalacion, Manta</p>
          </div>
          <div>
            <h6 class="text-uppercase">Teléfono</h6>
            <p>+59352620288</p>
          </div>
          <div>
            <h6 class="text-uppercase">Correo</h6>
            <p>uleam@live.edu.ec</p>
          </div>
          </ul>
        </div>
        <div class="footer-one col-lg-3 col-md-6 col-12">
          <h5 class="pb-2">Facebook</h5>
          <div class="row">
            <img class="img-fluid w-25 h-100 m-2" src="img/fb/1.png" alt="Imagen Facebook">
            <img class="img-fluid w-25 h-100 m-2" src="img/fb/2.png" alt="Imagen Facebook">
            <img class="img-fluid w-25 h-100 m-2" src="img/fb/3.png" alt="Imagen Facebook">
            <img class="img-fluid w-25 h-100 m-2" src="img/fb/4.png" alt="Imagen Facebook">
            <img class="img-fluid w-25 h-100 m-2" src="img/fb/5.png" alt="Imagen Facebook">
            <img class="img-fluid w-25 h-100 m-2" src="img/fb/6.png" alt="Imagen Facebook">
          </div>
        </div>
      </div>

      <div class="copyright mt-5">
        <div class="row container justify-content-center text-center mx-auto">
            <p class="derechos">Bienestar Estudiantil © 2021. Todos Los Derechos Reservados</p> 
        </div>
      </div>
    </footer>

    <!-- JS BOOTSTRAP -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" 
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" 
    crossorigin="anonymous"></script>

</body>
</html>