<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto | Super Mario Tecnology</title>
    <link rel="icon" href="img/logos/logoUleamPestaña.ico">
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
    crossorigin="anonymous">
    <!--CSS-->
    <link rel="stylesheet" href="css/styles.css">
    <!-- FONTAWESOME -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" 
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" 
    crossorigin="anonymous"/>
    
</head>
<body>
    
    <!-- BARRA DE NAVEGACION -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white py-3 fixed-top">
      <div class="container">
        <img onclick="window.location.href='index.html'" src="img/logos/logoUleam.png" alt="logo" class="uleam">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span><i id="bar" class="fas fa-bars"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            
            <li class="nav-item">
              <a class="nav-link" href="index.html">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="becas.html">Becas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="postulacion.html">Postulacion</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="contacto.html">Contacto</a>
            </li>           
            
        </div>
      </div>
    </nav>

    <section class="my-5 py-5">
        <div class="container mt-5 py-5">
            <div class="img-fluid">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31914.080262727628!2d-80.74642028286313!3d-0.9585065552500118!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x902be16a5ec848cd%3A0xa60ef7d90e068e64!2sUniversidad%20Laica%20Eloy%20Alfaro%20De%20Manabi!5e0!3m2!1ses-419!2sec!4v1639506447494!5m2!1ses-419!2sec" 
              width="100%" height="350px" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <div>
                <h3 class="text-center text-uppercase py-3">Contacto</h3>
            <form class="row g-3" id="form">
                <!--GRUPO NOMBRE-->
                <div class="col-md-6 campo_ingeso formulario__grupo form__grupo" id="grupo_nombre">
                  <label for="name" class="form-label">Nombre</label>
                  <input type="text" class="form-control" id="nombre" name="nombre">
                  <p class="formulario__input-error">Ingrese un nombre válido (De 1 a 50 carácteres)</p>
                </div>
                <!--GRUPO TELEFONO-->
                <div class="col-md-6 campo_ingeso formulario__grupo form__grupo" id="grupo_telefono">
                  <label for="telefono" class="form-label">Teléfono</label>
                  <input type="tel" class="form-control"  id="telefono" name="telefono">
                  <p class="formulario__input-error">Ingrese un telefono válido (De 1 a 13 números)</p>
                </div>
                <!--GRUPO DIRECCION-->
                <div class="col-12 campo_ingeso formulario__grupo form__grupo" id="grupo_direccion">
                  <label for="direccion" class="form-label">Dirección</label>
                  <input type="text" class="form-control" id="direccion" name="direccion" placeholder="Av. Circunvalacion, Manta">
                  <p class="formulario__input-error">Ingrese una dirección válida (De 1 a 80 carácteres)</p>
                </div>
                <!--GRUPO EMAIL-->
                <div class="col-12 campo_ingeso formulario__grupo form__grupo" id="grupo_email">
                  <label for="email" class="form-label">Email</label>
                  <input type="text" class="form-control" id="email" name="email" placeholder="example@example.com">
                  <p class="formulario__input-error">Ingrese un email válido</p>
                </div>
                <!--GRUPO MENSAJE-->
                <div class="col-12">
                    <label for="mensaje" class="form-label">Mensaje</label>
                    <textarea name="mensaje" class="form-control" id="inputAddress2"></textarea>
                  </div>
                <div class="col-12">
                  <button type="submit" class="btn btn-primary my-2">Enviar</button>
                </div>
              </form>
            </div>
            
    </section>
    

    <footer class="mt-5 py-5">
      <div class="row container mx-auto pt-5">
        <div class="footer-one col-lg-3 col-md-6 col-12">
          <img src="img/logos/logoUleam.png" alt="logo" class="uleam uleam__footer">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque delectus 
            blanditiis commodi consectetur vitae laboriosam quos adipisci aliquid</p>
        </div>
        <div class="footer-one col-lg-3 col-md-6 col-12 mb-3">
          <h5 class="pb-2">Recomendados</h5>
          <ul class="text-uppercase list-unstyled">
            <li><a href="perifericos.html">Becas</a></li>
            <li><a href="juegos.html">Postulacion</a></li>
            <li><a href="perifericos.html">Contacto</a></li>
          </ul>
        </div>
        <div class="footer-one col-lg-3 col-md-6 col-12 mb-3">
          <h5 class="pb-2">Contáctanos</h5>
          <div>
            <h6 class="text-uppercase">Dirección</h6>
            <p>Av. Circunvalacion, Manta</p>
          </div>
          <div>
            <h6 class="text-uppercase">Teléfono</h6>
            <p>+59352620288</p>
          </div>
          <div>
            <h6 class="text-uppercase">Correo</h6>
            <p>uleam@live.edu.ec</p>
          </div>
          </ul>
        </div>
        <div class="footer-one col-lg-3 col-md-6 col-12">
          <h5 class="pb-2">Facebook</h5>
          <div class="row">
            <img class="img-fluid w-25 h-100 m-2" src="img/fb/1.png" alt="Imagen Facebook">
            <img class="img-fluid w-25 h-100 m-2" src="img/fb/2.png" alt="Imagen Facebook">
            <img class="img-fluid w-25 h-100 m-2" src="img/fb/3.png" alt="Imagen Facebook">
            <img class="img-fluid w-25 h-100 m-2" src="img/fb/4.png" alt="Imagen Facebook">
            <img class="img-fluid w-25 h-100 m-2" src="img/fb/5.png" alt="Imagen Facebook">
            <img class="img-fluid w-25 h-100 m-2" src="img/fb/6.png" alt="Imagen Facebook">
          </div>
        </div>
      </div>

      <div class="copyright mt-5">
        <div class="row container justify-content-center text-center mx-auto">
            <p class="derechos">Bienestar Estudiantil © 2021. Todos Los Derechos Reservados</p> 
        </div>
      </div>
    </footer>
  
      <!-- JS BOOTSTRAP -->
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" 
      crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" 
      crossorigin="anonymous"></script>

      <!--JAVASCRIPT-->
      <script src="js/validacion.js"></script>
  
  </body>
  </html>