<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio | Bienestar Estudiantil</title>
    <link rel="icon" href="img/logos/logoUleamPestaña.ico">
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
    crossorigin="anonymous">
    <!--CSS-->
    <link rel="stylesheet" href="css/styles.css">
    <!-- FONTAWESOME -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" 
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" 
    crossorigin="anonymous"/>
    
</head>
<body>
    
    <!-- BARRA DE NAVEGACION -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white py-3 fixed-top">
        <div class="container">
          <img onclick="window.location.href='index.html'" src="img/logos/logoUleam.png" alt="logo" class="uleam">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span><i id="bar" class="fas fa-bars"></i></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              
              <li class="nav-item">
                <a class="nav-link active" href="index.html">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="becas.html">Becas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="postulacion.html">Postulacion</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contacto.html">Contacto</a>
              </li>           
              
          </div>
        </div>
    </nav>

    <section id="inicio">
        <div class="container">
            <h5><span>Becas Universitarias .</span></h5>
            <h1>Otorgadas a estudiantes, de la ULEAM</h1>
            <p><span>Descúbre el tipo de becas que ofrecemos.<br>Y cual de ellas te beneficia.</span> </p>
            <button onclick="window.location.href='becas.html'">Mas Información</button>
        </div>
    </section>

    <section id="new" class=" w-100 my-5 py-5">
      <div class="row p-0 m-0 ">
        <div class="one col-lg-4 col-md-12 col-12 p-0">
          <img class="img-fluid" src="img/blog/afirmativa.png" alt="card 1">
          <div class="details">
            <h2>Noticias</h2>
            <button class="text-uppercase">Mas Info</button>
          </div>
        </div>
        <div class="one col-lg-4 col-md-12 col-12 p-0">
          <img class="img-fluid" src="img/blog/movilidad.png" alt="card 2">
          <div class="details">
            <h2>Becas</h2>
            <button class="text-uppercase">Mas Info</button>
          </div>
        </div>
        <div class="one col-lg-4 col-md-12 col-12 p-0">
          <img class="img-fluid" src="img/blog/rendimiento.png" alt="card 3">
          <div class="details">
            <h2>Postuación</h2>
            <button class="text-uppercase">Mas Info</button>
          </div>
        </div>
      </div>
    </section>

    <section id="becas" class="my-5 pb-5">
      <div class="container text-center mt-5 py-5">
        <h3>Becas Destacadas</h3>
        <hr class="mx-auto">
        <p>Encuentra los tipos de becas que se ofertan semestre a semestre, las cuales podrán servirte como ayuda en tus estudios universitarios</p>
      </div>
      <div class="row mx-auto container-fluid producto">
        <div class="product text-center col-lg-3 col-md-4 col-12">
          <img class="img-fluid mb-3" src="img/blog/socioeconomica.png" alt="Destacado 1">
          <h5 class="p-name">Beca por situación socioeconómica</h5>
          <button onclick="window.location.href='becas.html'"class="buy-btn">Información</button>
        </div>
        <div class="product text-center col-lg-3 col-md-4 col-12">
          <img class="img-fluid mb-3" src="img/blog/cientifico.png" alt="Destacado 1">
          <h5 class="p-name">Beca por mérito científico</h5>
          <button onclick="window.location.href='becas.html'" class="buy-btn">Información</button>
        </div>
        <div class="product text-center col-lg-3 col-md-4 col-12">
          <img class="img-fluid mb-3" src="img/blog/afirmativa.png" alt="Destacado 1">
          <h5 class="p-name">Beca por acción afirmativa</h5>
          <button onclick="window.location.href='becas.html'" class="buy-btn">Información</button>
        </div>
        <div class="product text-center col-lg-3 col-md-4 col-12">
          <img class="img-fluid mb-3" src="img/blog/rendimiento.png" alt="Destacado 1">
          <h5 class="p-name">Beca por alto rendimiento académico</h5>
          <button onclick="window.location.href='becas.html'" class="buy-btn">Información</button>
        </div>
        <div class="product text-center col-lg-3 col-md-4 col-12">
          <img class="img-fluid mb-3" src="img/blog/discapacitado.png" alt="Destacado 1">
          <h5 class="p-name">Beca por discapacidad</h5>
          <button onclick="window.location.href='becas.html'" class="buy-btn">Información</button>
        </div>
        <div class="product text-center col-lg-3 col-md-4 col-12">
          <img class="img-fluid mb-3" src="img/blog/movilidad.png" alt="Destacado 1">
          <h5 class="p-name">Ayuda por movilidad académica</h5>
          <button onclick="window.location.href='becas.html'" class="buy-btn">Información</button>
        </div>
      </div>
    </section>

    
  
    <footer class="mt-5 py-5">
      <div class="row container mx-auto pt-5">
        <div class="footer-one col-lg-3 col-md-6 col-12">
          <img src="img/logos/logoUleam.png" alt="logo" class="uleam uleam__footer">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque delectus 
            blanditiis commodi consectetur vitae laboriosam quos adipisci aliquid</p>
        </div>
        <div class="footer-one col-lg-3 col-md-6 col-12 mb-3">
          <h5 class="pb-2">Recomendados</h5>
          <ul class="text-uppercase list-unstyled">
            <li><a href="perifericos.html">Becas</a></li>
            <li><a href="juegos.html">Postulacion</a></li>
            <li><a href="perifericos.html">Contacto</a></li>
          </ul>
        </div>
        <div class="footer-one col-lg-3 col-md-6 col-12 mb-3">
          <h5 class="pb-2">Contáctanos</h5>
          <div>
            <h6 class="text-uppercase">Dirección</h6>
            <p>Av. Circunvalacion, Manta</p>
          </div>
          <div>
            <h6 class="text-uppercase">Teléfono</h6>
            <p>+59352620288</p>
          </div>
          <div>
            <h6 class="text-uppercase">Correo</h6>
            <p>uleam@live.edu.ec</p>
          </div>
          </ul>
        </div>
        <div class="footer-one col-lg-3 col-md-6 col-12">
          <h5 class="pb-2">Facebook</h5>
          <div class="row">
            <img class="img-fluid w-25 h-100 m-2" src="img/fb/1.png" alt="Imagen Facebook">
            <img class="img-fluid w-25 h-100 m-2" src="img/fb/2.png" alt="Imagen Facebook">
            <img class="img-fluid w-25 h-100 m-2" src="img/fb/3.png" alt="Imagen Facebook">
            <img class="img-fluid w-25 h-100 m-2" src="img/fb/4.png" alt="Imagen Facebook">
            <img class="img-fluid w-25 h-100 m-2" src="img/fb/5.png" alt="Imagen Facebook">
            <img class="img-fluid w-25 h-100 m-2" src="img/fb/6.png" alt="Imagen Facebook">
          </div>
        </div>
      </div>

      <div class="copyright mt-5">
        <div class="row container justify-content-center text-center mx-auto">
            <p class="derechos">Bienestar Estudiantil © 2021. Todos Los Derechos Reservados</p> 
        </div>
      </div>
    </footer>

    <!-- JS BOOTSTRAP -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" 
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" 
    crossorigin="anonymous"></script>

</body>
</html>