:root{

    --primario:#d6ecdf;
    --primarioOscuro: #1c8d71bb;
    --secundario: #b18f06;
    --secundarioOscuro: rgb(233,187,2);
    --blanco:#FFF;
    --fuentePrincipal: 'Poppins', sans-serif;
    --gold1:#F4BD76;
    --gold2:#F6CD8F;
    --gray:#ffffff80;
    --gray2:#f7d9d990;
    --black1:#1A1B1F;
    --black2:#30553B;
    --shadow:0 8px 8px;
    --color_shadow: #00000033;

}

html {
    box-sizing: border-box;
    font-size: 50%; /** 1rem = 10px **/
}

*, *:before, *:after {
    box-sizing: inherit;
    
}
 

 /**GLOBALES**/

body{

    background-color: var(--primario);
    font-size: 0.5rem;
    line-height: 1.5; /**Interlineado**/
    margin: 0;
    padding: 0;

}

/**NAVEGACION**/

.nav__hero{
  
    background: linear-gradient(180deg, #19ad81 0%, #08e9a5 100%);
    height: 100px;

}

.nav__hero img{

  width: 350px;
  height: 72.5px;
  margin-top: 15px;
  margin-left: 160px;

}

.nav__container{

    background: linear-gradient(180deg, #19ad81 0%, #08e9a5 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
    margin-right: 150px;
    padding: 0;

}

.link{

    display: inline-block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight:bold;
    padding: 8px;

}

.navegacion__enlace--activo, /**Modificador**/
.navegacion__enlace:hover{

  color:var(--secundario);

}

/**FOOTER**/

.footer{

    font-family: var(--fuentePrincipal);

}

.contact{

    display: flex;
    margin-top: 70px;
    flex-wrap: wrap;
    color: white;

}

.item__contact{

    width: 25%;
    padding: 30px 0;
    text-align: center;
    background: linear-gradient(180deg, #164a9a 0%, #164a9a 100%);
    

}

.item__contact--gold{

    background: linear-gradient(180deg, #F7CE90 0%, #F4BD76 100%);
    color:var(--black2);

}

.contact__icon{

    font-size: 14px;
    color: var(--gold1);
    line-height: 20px;
    margin-right: 4px;
    padding: 10px;

}

.contact__icon--modifier{

    color: var(--black1);

}

.contact__title{

    font-size: 16px;
    line-height: 20px;
    color: inherit;
    text-decoration: none;
    display:inline-block;

}

/*CONTACTO*/

.contacto{

    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 10px 0px #666;
    margin-top: 50px;

}

.mapa iframe{

    width: 500px;
    height: 100%;
    
}

.fomulario_contacto{

    width: 100%;
    height: auto;
    flex: 50%;
    padding: 30px;
    font-size: 15px;
    font-family: var(--fuentePrincipal);
    text-align: center;

}

.fomulario_contacto h1{

    margin-bottom: 10px;

}

.fomulario_contacto-txt{

    width: 100%;
    height: 40px;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 50px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;

}

.fomulario_contacto-txt::placeholder{

    color: #aaa;

}

.fomulario_contacto-textarea{

    width: 100%;
    height: 130px;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 50px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;

}

.fomulario_contacto-textarea::placeholder{

    color: #aaa;

}

.boton_contacto{

    width: 100%;
    border:none;
    outline: none;
    border-radius: 50px;
    background: #8e2de2;
    color: #FFF;
    text-transform: uppercase;
    padding: 10px 0;
    cursor: pointer;
    font-size: 18px;

}