:root{

    --primario:#d6ecdf;
    --primarioOscuro: #1c8d71bb;
    --secundario: #b18f06;
    --secundarioOscuro: rgb(233,187,2);
    --blanco:#FFF;
    --fuentePrincipal: 'Poppins', sans-serif;
    --gold1:#F4BD76;
    --gold2:#F6CD8F;
    --gray:#ffffff80;
    --gray2:#f7d9d990;
    --black1:#1A1B1F;
    --black2:#30553B;
    --shadow:0 8px 8px;
    --color_shadow: #00000033;

}

html {
    box-sizing: border-box;
    font-size: 50%; /** 1rem = 10px **/
}

*, *:before, *:after {
    box-sizing: inherit;
}
 

 /**GLOBALES**/

body{

    background-color: var(--primario);
    font-size: 0.5rem;
    line-height: 1.5; /**Interlineado**/

}

p{

    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    color: var(--blanco);

 }

a{

    text-decoration: none;

}

img{

    width: 100%;

}

.contenedor{

    max-width: 120rem;
    margin: 0 auto;

}

h1,h2,h3{ /**Selecciona todos los titulos**/

    text-align: center;
    color: var(--secundario);
    font-family: var(--fuentePrincipal);

}

h1{ /**Tamaño individual**/

    font-size: 4rem;

}

h2{ /**Tamaño individual**/

    font-size: 3.2rem;

}

h3{ /**Tamaño individual**/

    font-size: 2.4rem;

}

/**HEADER**/

/**FOOTER**/

.footer{

    padding: 0;

}

.contact{

    display: flex;
    margin-top: 70px;
    flex-wrap: wrap;
    color: white;

}

.item__contact{

    width: 25%;
    padding: 30px 0;
    text-align: center;
    background: linear-gradient(180deg, #164a9a 0%, #164a9a 100%);
    

}

.item__contact--gold{

    background: linear-gradient(180deg, #F7CE90 0%, #F4BD76 100%);
    color:var(--black2);

}

.contact__icon{

    font-size: 14px;
    color: var(--gold1);
    line-height: 20px;
    margin-right: 4px;

}

.contact__icon--modifier{

    color: var(--black1);

}

.contact__title{

    font-size: 16px;
    line-height: 20px;
    color: inherit;
    text-decoration: none;
    display:inline-block;

}

/**NAVEGACION**/

.nav__hero{
  
      background: linear-gradient(180deg, #19ad81 0%, #08e9a5 100%);
      height: 100px;
  
}

.nav__hero img{

    width: 350px;
    height: 72.5px;
    margin-top: 15px;
    margin-left: 160px;

}
  
.nav__container{
  
      background: linear-gradient(180deg, #19ad81 0%, #08e9a5 100%);
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: inherit;
      margin-right: 150px;
      padding: 0;
  
}
  
.link{
  
      display: inline-block;
      color: rgb(0, 0, 0);
      text-decoration: none;
      font-family: 'Roboto', sans-serif;
      font-size: 17px;
      font-weight:bold;
      padding: 8px;
  
}

.navegacion__enlace--activo, /**Modificador**/
.navegacion__enlace:hover{

    color:var(--secundario);

}

/**GRID**/

.grid{

    display: grid;
    grid-template-columns: repeat(2,1fr); /**Dos culumnas de camisetas**/
    gap: 2rem;

}

@media (min-width: 768px) {

    .grid{

        grid-template-columns: repeat(3,1fr); /**Tres columnas de camisetas**/

    }
    
}

/**PRODUCTOS **/

.producto{

    background-color: var(--primarioOscuro);
    padding: 1rem;
    
}

.producto__nombre{

    font-size: 3.2rem;
    color: var(--gold1);
    font-weight: bold;
    

}

.producto__precio{

    font-size: 2.8rem;
    color: var(--blanco);

}

.producto__nombre,
.producto__precio{

    font-family: var(--fuentePrincipal);
    margin: 1rem 0;
    text-align: center;
    line-height: 1.2;

}

/**GRAFICOS**/

.grafico{

    min-height: 30rem;
    background-repeat: no-repeat; /**Para no repetir imagenes en un background**/
    background-size: cover; /**Para que tome todo el espacio**/    
    grid-column: 1 / 3;
}

.grafico--camisas{ /**Para posicionar**/

    grid-row: 2 / 3;
    background-image: url(../img/grafico1.png);
    
}

.grafico--node{

    background-image: url(../img/grafico2.png);
    grid-row: 8 / 9;

}

@media (min-width: 768px) {

    .grafico--node{

        grid-row: 5 / 6;
        grid-column: 2 / 4;

    }
    
}

/**NOSOTROS**/

.nosotros {
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.nosotros__contenido p{

    color:rgb(0, 0, 0)

}

.bloque p{

    color: rgb(0, 0, 0);

}
@media (min-width: 768px) {
    .nosotros {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}
.nosotros__imagen {
    grid-row: 1 / 2;
    height: 100%;
    margin-left: 30px;

}
@media (min-width: 768px) {
    .nosotros__imagen {
       grid-column: 2 / 3;
    }
}

/** Bloques **/
.bloques {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
@media (min-width: 768px) {
    .bloques {
        grid-template-columns: repeat(4, 1fr);
    }
}

.bloque {
    text-align: center;
}

.bloque__titulo {
    margin: 0;
}

/**PAGINA DEL PRODUCTO**/

@media (min-width: 768px) {
    
    .camisa{

        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 2rem;

    }

}

.formulario{

    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;

}

.formulario__campo{

    border: 1rem solid var(--primarioOscuro);
    background-color: var(--primario);
    color: var(--blanco);
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;


}

.formulario__submit{

    background-color: var(--secundario);
    border: none;
    font-size: 2rem;
    font-family: var(--fuentePrincipal);
    padding: 2rem;
    transition: background-color .3s ease;
    grid-column: 1 / 3;

}

.formulario__submit:hover{

    cursor:pointer;
    background-color: var(--secundarioOscuro);

}



