@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root{

    --primario:#d6ecdf;
    --primarioOscuro: #1c8d71bb;
    --secundario: #b18f06;
    --secundarioOscuro: rgb(233,187,2);
    --blanco:#FFF;
    --fuentePrincipal: 'Poppins', sans-serif;
    --gold1:#F4BD76;
    --gold2:#F6CD8F;
    --gray:#ffffff80;
    --gray2:#f7d9d990;
    --black1:#1A1B1F;
    --black2:#30553B;
    --shadow:0 8px 8px;
    --color_shadow: #00000033;

}

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{

    font-family: 'Roboto', sans-serif;

}

.container{

    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 100px 0;
    height: auto;    

}

.container--modifier{

    width: 60%;

}

.hero{

    width: 100%;
    height: 650px;
    background-image: url(../img/slider/5.png);
    background-position: center;
    background-size: cover;
    overflow: hidden;

}

.logo_mario{

  margin-top: 15px;

}

.nav__hero{

    background: linear-gradient(180deg, #19ad81 0%, #08e9a5 100%);
    height: 100px;

}

.nav__container{

    background: linear-gradient(180deg, #19ad81 0%, #08e9a5 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
    padding: 0;

}

.link{

    display: inline-block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight:800;
    padding: 10px;

}

.navegacion__enlace--activo, /**Modificador**/
.navegacion__enlace:hover{

    color:var(--secundario);

}

.point{

    color: var(--gold1);

}

.hero__main{

    height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    padding: 0;

}

.title{

    font-size: 56px;
    font-weight: 300;
    color: #bbface;

}

.title--active{

    color: var(#00c59a);
    font-weight: 700;

}

.copy{

    font-size: 24px;
    color: #3b4d44;
    text-shadow: var(--shadow) var(--color_shadow);
    margin: 15px 0;

}

.copy__active{

    font-weight: 700;

}

.cta{

    padding: 20px 30px;
    display: inline-block;
    background: linear-gradient(180deg, #ffe1b5 0%, #ffddd6 100%);
    text-decoration: none;
    color: var(--black2);
    font-weight: 700;
    box-shadow: var(--shadow) var(--color_shadow);
    border-radius: 6px;

}

.subtitlec{

    margin: auto;
    text-align: center;
    

}

/*SLIDER*/

.slider_section{

    background: #d6ecdf;
    padding-top: 20px;
    padding-bottom: 10px;

}

.slider {
    width: 70%;
    margin:auto;
    overflow: hidden;
    height: 70%;
    border-radius: 2%;
  }
  
.slider ul {
    padding: 0;
    display: flex;
    width: 400%;

    /*ANIMACION*/
  
    animation: cambio 13s infinite alternate;
    animation-timing-function: linear;
}

.slider li {
    width: 100%;
    list-style: none;
}
  
.slider li img {
    width: 100%;
    height: auto;
}
  
@supports (object-fit: cover) {
    .slider img {
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
}
  
@keyframes cambio {
    0% {
      margin-left: 0;
    }
    20% {
      margin-left: 0;
    }
  
    25% {
      margin-left: -100%;
    }
    45% {
      margin-left: -100%;
    }
  
    50% {
      margin-left: -200%;
    }
    70% {
      margin-left: -200%;
    }
  
    75% {
      margin-left: -300%;
    }
    100% {
      margin-left: -300%;
    }
}

.navegacion__enlace--activo, /**Modificador**/
.navegacion__enlace:hover{

    color:var(--secundario);

}

/*services*/

.services{

    background: #d6ecdf;

}

.subtitle{

    font-size: 42px;
    margin-bottom: 15px;

}

.subtitle--modifier{

    text-align: center;
    margin-bottom: 16px;

}

.copy__section{

    color:var(--black2); 
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 60px;

}

.copy__section--modifier{

    text-align: center;
    margin: 0 auto;
    margin-bottom: 32px;
}

.container__cards{

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.card{

    width: 30%;
    padding: 30px 0;
    overflow: hidden;
    background: linear-gradient(180deg, var(--black2)0%, #164a9a 100%);
    border-radius: 10px;
    position: relative;
    text-align: right;
    margin-bottom: 60px;
    box-shadow: 0  0 6px var(--color_shadow);

}

.card__img{

    text-align: left;
    width: 95%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 0 0 10px;

}

.cards__text{

    text-align: left;
    width: 95%;
    margin-left: auto;
    padding-right: 25px;

}

.card__list{

    color: var(--gold2);
    font-weight: 700;
    margin: 20px 0 12px;
    font-size: 18px;
    
}

.card__title{

    font-size: 40px;
    color: #fff;
    margin-bottom: 8px;

}

.contact{

    display: flex;
    width: 100%;
    flex-wrap: wrap;
    color: white;

}

.item__contact{

    width: 25%;
    padding: 30px 0;
    text-align: center;
    background: linear-gradient(180deg, #164a9a 0%, #164a9a 100%);
    

}

.item__contact--gold{

    background: linear-gradient(180deg, #F7CE90 0%, #F4BD76 100%);
    color:var(--black2);

}

.contact__icon{

    font-size: 14px;
    color: var(--gold1);
    line-height: 20px;
    margin-right: 4px;

}

.contact__icon--modifier{

    color: var(--black1);

}

.contact__title{

    font-size: 16px;
    line-height: 20px;
    color: inherit;
    text-decoration: none;
    display:inline-block;

}

@media screen and (max-width:900px){
    

    .title{
        font-size: 50px;
    }

    .copy{
        font-size: 22px;
    }

    .cta{
        padding: 15px 22px;
    }

    .container-cards{
        justify-content: space-evenly;
    }

    .services .card{
        width: 45%;
    }

    .background{
        width: 52%;
    }

    .background__p{
        width: 52%;
    }

    .card{
        width: 42%;
    }

    
}

@media screen and (max-width:700px){
    main .container,
    footer .container{
        padding: 60px 0;
    }

    .nav__container{
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .nav__hero{
        height: auto;
    }

    .logo{
        padding: 20px 0 ;
        text-align: center;
    }

    .links{
        padding-bottom: 10px;
        text-align: center;
    }

    .link{
        padding: 7px 10px;
    }


    .hero__main{
        flex-direction: column-reverse;
        justify-content: flex-end;
        min-height: 70px;
        height: auto;
        padding: 30px 0;
    }

    .hero__textos{
        width: 100%;
        text-align: center;
    }

    .mockup{
        width: 60%;
        margin-bottom: 20px;
    }

    .title{
        font-size: 35px;
    }

    .copy{
        font-size: 20px;
    }

    .subtitle{
        font-size: 35px;
        text-align: center;
    }

    .copy__section{
        font-size: 20px;
        text-align: center;
    }

    .services .card{
        width: 80%;
    }

    .container-bg{
        justify-content: space-evenly;
    }

    .card{
        margin-bottom: 40px;
        width: 65%;
    }

    .card__title{
        font-size: 35px;
    }

    .card__button{
        width: 100%;
    }

    .background{
        width: 65%;
        margin-bottom: 40px;
    }

    .background__p{
        width: 65%;
        margin-bottom: 40px;
    }

    .background__copy{
        display: none;
    }

    .container--modifier{
        width: 80%;
    }

    .item__contact{
        width: 100%;
        padding: 30px 0;
    }
}

@media screen and (max-width:500px){
    .mockup{
        width: 80%;
        margin-bottom: 15px;
    }

    .services .card{
        width: 95%;
    }

    .card{
        width: 95%;
    }

    .background{
        width: 95%;
    }

    .background__p{
        width: 95%;
    }

    .container--modifier{
        width: 90%;
    }
}