@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

/*FUENTES*/
h1{
    font-size: 2.5rem;
    font-weight: 700;
}
h2{
    font-size: 1.8rem;
    font-weight: 600;
}
h3{
    font-size: 1.4rem;
    font-weight: 800;
}
h4{
    font-size: 1.1rem;
    font-weight: 600;
}
h5{
    font-size: 1rem;
    font-weight: 400;
    color: black;
}
h6{
    color: #D8D8D8;
}
button{
    color: #D8D8D8;
    font-weight: 700;
    outline: none;
    border: none;
    background-color: #1d1d1d;
    color: aliceblue;
    padding: 13px 30px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3s ease;
}
button:hover{
    background-color: #3a3833;
}
hr{
    width: 30px;
    height: 2px;
    background-color: #fb774b;

}

/*NAVEGACION*/
.navbar{
    font-size: 16px;
    top: 0;
    left: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.uleam{
    /* padding: 15px 0; */
    margin-top: 10px;
    height: 90px;
    width: 110px;
    cursor: pointer;
}
.navbar-light .navbar-nav .nav-link{
    padding: 0 20px;
    color: black;
    transition: 0.3s ease;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar-light .navbar-nav .nav-link.active,
.navbar i.active{
    color: coral;
}
.navbar i{
    font-size: 1.2rem;
    padding: 0 7px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s ease;
}
#bar{
    font-size: 1.5rem;
    padding: 7px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s ease;
    color: black;
}
#bar:hover,
#bar.active{
    color: #fff;
}
.navbar-light .navbar-toggler{
    border: none;
    outline: none;
}

@media only screen and (max-width: 991px){
    #navbarSupportedContent>ul{
        margin: 1rem;
        justify-content: flex-end;
        align-items: flex-end;
        text-align: right;
    }

    #navbarSupportedContent>ul>li:nth-child(n)>a{
        padding: 10px 0;
    }
}

/*SECCION INICIO - BANNER1*/
#inicio{
    background-image: url("../img/banner/BannerUleam.jpg.png");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: top 60px center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;    
}
#inicio span{
    color: white;
    font-weight: bold;
}

/*SECCION CARDS*/
#new .one img{
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#new .one .details{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 0.3s ease;
}
#new .one:hover .details{
    cursor: pointer;
    background-color: rgba(245, 178, 178, 0.7);
}
#new .one .details button{
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    color: #2a2a2a;
    background: none;
    text-transform: uppercase;
    border-bottom: 1px solid #2a2a2a;
    padding: 2.5px;
    transform: translateY(70px);
    transition: 0.3s ease;
}
#new .one .details button:hover{
    color: #fff;
    border-bottom: 1px solid #fff;
}
#new .one:nth-child(1) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
}
#new .one:nth-child(2) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#new .one:nth-child(3) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
}

/*PRODUCTOS DESTACADOS*/
.product{
    cursor: pointer;
    margin-bottom: 2rem;

}
.producto{
    justify-content: center;
}
.product img{
    transition: 0.3s all;
}
.product:hover img{
    opacity: 0.7;
}
.product .buy-btn{
    background: #fb774b;
    transform: translateY(20px);
    opacity: 0;
    transition: 0.3s all;
}
.product:hover .buy-btn{
    transform: translateY(20px);
    opacity: 1;
}

/*BANNER 2*/
#banner{
    background-image: url("../img_2/banner/chicoAirDots.png");
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: top 70px center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;    
}
#banner h4{
    color: #D8D8D8;
}
#banner h1{
    color: #fff;
}
#banner button{
    background-color: #fb774b;
}

/*FOOTER*/
footer{
    background-color: #222222;
}
.uleam__footer{
    margin-top: 0px;
    margin-bottom: 10px;
}
footer h5{
    color: #D8D8D8;
    font-weight: 700;
    font-size: 1.2rem;
}
footer li{
    padding-bottom: 4px;
}
footer li a{
    font-size: 0.8rem;
    color: #999;
}
footer li a:hover{
    color: #D8D8D8;
}
footer p{
    color: #999;
    font-size: 0.8rem;
}
footer .copyright a{
    color: #000;
    width: 38px;
    height: 38px;
    background-color: #fff;
    display: inline-block;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
    transition:  0.3s ease;
    margin: 0 5px;
}

/*BECA*/

.beca{
    padding: 3rem 0;
    border-bottom: 1px solid #cfcfcf;
}

@media (min-width: 768px){
    .beca{
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 2rem;
    }
}

.beca:last-of-type{
    border: none;
}

.beca__label{
    font-family: var(--fuenteHeading);
    font-weight: 700;
}

.beca__info{
    font-weight: 400;
}

.beca__label, 
.beca__info{
    font-size: 2rem;
}

.beca a:hover{
    color: white;
}

/*BOTON*/
.boton{
    display: block;
    color: white;
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    border: none;
}

@media (min-width: 768px){
    .boton{
        display: inline-block;

    }
}

.boton:hover{
    cursor: pointer;
    text-decoration: none;
}

/*MODIFICADORES PARA BOTONES*/
.boton--primario{ 
    background-color: black;
}

.boton--primario:hover{
    background-color: red;
}

.boton--secundario{
    background-color: #784D3C;
}

/*FORMULARIO*/
.btn{
    background: coral;
    border: none;
    transition: 0.3s ease;
}
.btn:hover{
    background: #D8D8D8;
    color: #000;
}
.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
    margin-top: 5px;
    width: 400px;
    display: none;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}