<section class="contenedor my-5 py-5">
      
      <div class="container mt-5 py-5">
        <h3 class="centrar-texto">Becas destacadas</h3>

        <div class="beca">
            <div class="beca__imagen">
                <img src="img/blog/socioeconomica.png" alt="Imagen del beca">
            </div>
            
            <div class="beca__informacion">
                <h4 class="no-margin">Beca Por Situación Socioeconómica</h4>
                <p class="beca__label">Se trata de:</p>
                </p>
                <p class="beca__descripcion">
                  Una subvención de caracter excepcional no reembolsable que se otorga a los estudiantes regulares, cuyas condiciones 
                  socioeconomicas son desfavorables y afecten de una manera negativa su proceso de aprendizaje dentro de la universidad presente.
                </p>
                <a href="/links/add" class="boton boton--primario">Postular</a>
        </div> <!--.beca-informacion-->
            
        </div> <!--.beca-->
        <div class="beca">
          <div class="beca__imagen">
              <img src="img/blog/rendimiento.png" alt="Imagen del beca">
          </div>
          
          <div class="beca__informacion">
              <h4 class="no-margin">Beca Por Alto Rendimiento</h4>
              <p class="beca__label">Se trata de:</p>
              </p>
              <p class="beca__descripcion">
                Un estímulo que reciben los/as estudiantes regulares para alcanzar un promedio excelente de acuerdo a sus notas del semestre/periodo
                 previo al otorgamiento de la beca e informe de la Comisión Calificadora de Becas.
              </p>
              <a href="/links/add" class="boton boton--primario">Postular</a>
          </div> <!--.beca-informacion-->
          
        </div> <!--.beca-->
      
        <div class="beca">
          <div class="beca__imagen">
              <img src="img/blog/discapacitado.png" alt="Imagen del beca">
          </div>
          
          <div class="beca__informacion">
              <h4 class="no-margin">Beca Por Discapacidad</h4>
              <p class="beca__label">Se trata de:</p>
              </p>
              <p class="beca__descripcion">
                Una beca que otorga la universidad a favor de los estudiantes regulares que presentan discapacidad y enfermedades catastróficas.
                ULEAM siempre inclusiva con todos sus estudiantes.
              </p>
              <a href="/links/add" class="boton boton--primario">Postular</a>
          </div> <!--.beca-informacion-->
          
        </div> <!--.beca-->

        <div class="beca">
          <div class="beca__imagen">
              <img src="img/blog/movilidad.png" alt="Imagen del beca">
          </div>
          
          <div class="beca__informacion">
              <h4 class="no-margin">Ayuda Por Movilidad Académica</h4>
              <p class="beca__label">Se trata de:</p>
              </p>
              <p class="beca__descripcion">
                una subvencion de carácter excepcional, otorgada a favor de los estudiantes regulares, para su movilidad académica, capacitación, 
                formación.
              </p>
              <a href="/links/add" class="boton boton--primario">Postular</a>
          </div> <!--.beca-informacion-->
          
        </div> <!--.beca-->

        <div class="beca">
          <div class="beca__imagen">
              <img src="img/blog/cientifico.png" alt="Imagen del beca">
          </div>
          
          <div class="beca__informacion">
              <h4 class="no-margin">Beca Por Mérito Científico</h4>
              <p class="beca__label">Se trata de:</p>
              </p>
              <p class="beca__descripcion">
                Una beca que se otorgan a los estudiantes regulares que se hayan destacado en actividades cientificas, tecnológicas o de innovación, 
                ganadores de conbecas nacionales.
              </p>
              <a href="/links/add" class="boton boton--primario">Postular</a>
          </div> <!--.beca-informacion-->
          
        </div> <!--.beca-->

        <div class="beca">
          <div class="beca__imagen">
              <img src="img/blog/afirmativa.png" alt="Imagen del beca">
          </div>
          
          <div class="beca__informacion">
              <h4 class="no-margin">Beca Por Acción Afirmativa</h4>
              <p class="beca__label">Se trata de:</p>
              </p>
              <p class="beca__descripcion">
                Una beca que tiene como objetivo promover el estudio de estudiantes pertenecientes a grupos vulnerables que tengan deseos de estudiar cualquier 
                carrera de pregrado.
              </p>
              <a href="/links/add" class="boton boton--primario">Postular</a>
          </div> <!--.beca-informacion-->
          
        </div> <!--.beca-->

      </div>

    </section>

    <footer class="mt-5 py-5">
      <div class="row container mx-auto pt-5">
        <div class="footer-one col-lg-3 col-md-6 col-12">
          <img src="img/logos/logoUleam.png" alt="logo" class="uleam uleam__footer">
          <p>Las becas son ayudas a la financiación de unos estudios que se ofrecen al alumnado 
            por parte de un organismo o una entidad.</p>
        </div>
        <div class="footer-one col-lg-3 col-md-6 col-12 mb-3">
          <h5 class="pb-2">Recomendados</h5>
          <ul class="text-uppercase list-unstyled">
            <li><a href="/becas">Becas</a></li>
            <li><a href="/links/">Postulacion</a></li>
            <li><a href="/contacto">Contacto</a></li>
          </ul>
        </div>
        <div class="footer-one col-lg-3 col-md-6 col-12 mb-3">
          <h5 class="pb-2">Contáctanos</h5>
          <div>
            <h6 class="text-uppercase">Dirección</h6>
            <p>Av. Circunvalacion, Manta</p>
          </div>
          <div>
            <h6 class="text-uppercase">Teléfono</h6>
            <p>+59352620288</p>
          </div>
          <div>
            <h6 class="text-uppercase">Correo</h6>
            <p>uleam@live.edu.ec</p>
          </div>
          </ul>
        </div>
        <div class="footer-one col-lg-3 col-md-6 col-12">
          <h5 class="pb-2">Facebook</h5>
          <div class="row">
            <img class="img-fluid w-25 h-100 m-2" src="img/fb/1.png" alt="Imagen Facebook">
            <img class="img-fluid w-25 h-100 m-2" src="img/fb/2.png" alt="Imagen Facebook">
            <img class="img-fluid w-25 h-100 m-2" src="img/fb/3.png" alt="Imagen Facebook">
            <img class="img-fluid w-25 h-100 m-2" src="img/fb/4.png" alt="Imagen Facebook">
            <img class="img-fluid w-25 h-100 m-2" src="img/fb/5.png" alt="Imagen Facebook">
            <img class="img-fluid w-25 h-100 m-2" src="img/fb/6.png" alt="Imagen Facebook">
          </div>
        </div>
      </div>

      <div class="copyright mt-5">
        <div class="row container justify-content-center text-center mx-auto">
            <p class="derechos">Bienestar Estudiantil © 2021. Todos Los Derechos Reservados</p> 
        </div>
      </div>
    </footer>