<body>
  
    <section class="my-5 py-5">
        <div class="container mt-5 py-5">
            <div class="img-fluid">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31914.080262727628!2d-80.74642028286313!3d-0.9585065552500118!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x902be16a5ec848cd%3A0xa60ef7d90e068e64!2sUniversidad%20Laica%20Eloy%20Alfaro%20De%20Manabi!5e0!3m2!1ses-419!2sec!4v1639506447494!5m2!1ses-419!2sec" 
              width="75%" height="350px" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>

            <div class="container_mod img-fluid">
              <div class="card_mod">
                  <div class="row">
                      <div class="card-body_mod text-center">
                          <h5 class="titulo text-uppercase"><i class="fa fa-map-marker"></i><span id="location"></span></h5>
                          <h6 class="clima" id="weather"></h6>
                          <h4><span class="temperatura" id="temp"></span></h4>
                          <img src="" id="icon">
                          <div class="text-center">
                              <button href="#" onclick="window.location.reload();" class="btn btn-light refresh"><i class="fa fa-refresh"></i></button>
                          </div>
                      </div>
                  </div>

              </div>
            </div>

            <div>
                <h3 class="text-center text-uppercase py-3">Contacto</h3>
            <form class="row g-3" id="form">
                <!--GRUPO NOMBRE-->
                <div class="col-md-6 campo_ingeso formulario__grupo form__grupo" id="grupo_nombre">
                  <label for="name" class="form-label">Nombre</label>
                  <input type="text" class="form-control" id="nombre" name="nombre" autofocus>
                  <p class="formulario__input-error">Ingrese un nombre válido (De 1 a 50 carácteres)</p>
                </div>
                <!--GRUPO TELEFONO-->
                <div class="col-md-6 campo_ingeso formulario__grupo form__grupo" id="grupo_telefono">
                  <label for="telefono" class="form-label">Teléfono</label>
                  <input type="tel" class="form-control"  id="telefono" name="telefono">
                  <p class="formulario__input-error">Ingrese un telefono válido (De 1 a 13 números)</p>
                </div>
                <!--GRUPO DIRECCION-->
                <div class="col-12 campo_ingeso formulario__grupo form__grupo" id="grupo_direccion">
                  <label for="direccion" class="form-label">Dirección</label>
                  <input type="text" class="form-control" id="direccion" name="direccion" placeholder="Av. Circunvalacion, Manta">
                  <p class="formulario__input-error">Ingrese una dirección válida (De 1 a 80 carácteres)</p>
                </div>
                <!--GRUPO EMAIL-->
                <div class="col-12 campo_ingeso formulario__grupo form__grupo" id="grupo_email">
                  <label for="email" class="form-label">Email</label>
                  <input type="text" class="form-control" id="email" name="email" placeholder="example@example.com">
                  <p class="formulario__input-error">Ingrese un email válido</p>
                </div>
                <!--GRUPO MENSAJE-->
                <div class="col-12">
                    <label for="mensaje" class="form-label">Mensaje</label>
                    <textarea name="mensaje" class="form-control" id="inputAddress2"></textarea>
                  </div>
                <div class="col-12">
                  <button type="submit" class="btn btn-primary my-2">Enviar</button>
                </div>
              </form>
            </div>
            
    </section>
    

    <footer class="mt-5 py-5">
      <div class="row container mx-auto pt-5">
        <div class="footer-one col-lg-3 col-md-6 col-12">
          <img src="img/logos/logoUleam.png" alt="logo" class="uleam uleam__footer">
          <p>Las becas son ayudas a la financiación de unos estudios que se ofrecen al alumnado 
            por parte de un organismo o una entidad.</p>
        </div>
        <div class="footer-one col-lg-3 col-md-6 col-12 mb-3">
          <h5 class="pb-2">Recomendados</h5>
          <ul class="text-uppercase list-unstyled">
            <li><a href="/becas">Becas</a></li>
            <li><a href="/links/">Postulacion</a></li>
            <li><a href="/contacto">Contacto</a></li>
          </ul>
        </div>
        <div class="footer-one col-lg-3 col-md-6 col-12 mb-3">
          <h5 class="pb-2">Contáctanos</h5>
          <div>
            <h6 class="text-uppercase">Dirección</h6>
            <p>Av. Circunvalacion, Manta</p>
          </div>
          <div>
            <h6 class="text-uppercase">Teléfono</h6>
            <p>+59352620288</p>
          </div>
          <div>
            <h6 class="text-uppercase">Correo</h6>
            <p>uleam@live.edu.ec</p>
          </div>
          </ul>
        </div>
        <div class="footer-one col-lg-3 col-md-6 col-12">
          <h5 class="pb-2">Facebook</h5>
          <div class="row">
            <img class="img-fluid w-25 h-100 m-2" src="img/fb/1.png" alt="Imagen Facebook">
            <img class="img-fluid w-25 h-100 m-2" src="img/fb/2.png" alt="Imagen Facebook">
            <img class="img-fluid w-25 h-100 m-2" src="img/fb/3.png" alt="Imagen Facebook">
            <img class="img-fluid w-25 h-100 m-2" src="img/fb/4.png" alt="Imagen Facebook">
            <img class="img-fluid w-25 h-100 m-2" src="img/fb/5.png" alt="Imagen Facebook">
            <img class="img-fluid w-25 h-100 m-2" src="img/fb/6.png" alt="Imagen Facebook">
          </div>
        </div>
      </div>

      <div class="copyright mt-5">
        <div class="row container justify-content-center text-center mx-auto">
            <p class="derechos">Bienestar Estudiantil © 2021. Todos Los Derechos Reservados</p> 
        </div>
      </div>
    </footer>

  <script src="/js/validacionContacto.js"></script>
  <script src="/js/clima.js"></script>


</body>

