<body>
  <section id="inicio">
    <div class="container">
        <h5><span>Becas Universitarias .</span></h5>
        <h1>Otorgadas a estudiantes, de la ULEAM</h1>
        <p><span>Descúbre el tipo de becas que ofrecemos.<br>Y cual de ellas te beneficia.</span> </p>
        <button onclick="window.location.href='/becas'">Mas Información</button>
    </div>
</section>

<section id="new" class=" w-100 my-5 py-5">
    <div class="row p-0 m-0 ">
        <div class="one col-lg-4 col-md-12 col-12 p-0">
          <img class="img-fluid" src="img/blog/afirmativa.png" alt="card 1">
            <div class="details">
                <h2>Noticias</h2>
                <a href="/becas">
                <button  class="text-uppercase">Mas Info</button>
                </a>
            </div>
        </div>
        <div class="one col-lg-4 col-md-12 col-12 p-0">
            <img class="img-fluid" src="img/blog/movilidad.png" alt="card 2">
            <div class="details">
                <h2>Becas</h2>
                <a href="/becas">
                <button class="text-uppercase">Mas Info</button>
                </a>
            </div>
        </div>
        <div class="one col-lg-4 col-md-12 col-12 p-0">
            <img class="img-fluid" src="img/blog/rendimiento.png" alt="card 3">
            <div class="details">
                <h2>Postuación</h2>
                <a href="/links/">
                <button class="text-uppercase">Mas Info</button>
                </a>
            </div>
        </div>
      </div>
</section>

<section id="becas" class="my-5 pb-4">
      <div class="container text-center mt-5 py-5">
        <h3>Entérate de más</h3>
        <hr class="mx-auto">
        <p>Infórmate sobre el tipo de becas que la Universidad Laica Eloy Alfaro de "Manabí" oferta a sus estudiantes.</p>
      </div>
      <div class="row mx-auto container-fluid producto">
        <div class="card card_yt">
        <div class="video" id="player"></div>
    </div>
      </div>
</section>

<section id="becas" class="my-5 pb-5">
      <div class="container text-center mt-5 py-5">
        <h3>Becas Destacadas</h3>
        <hr class="mx-auto">
        <p>Encuentra los tipos de becas que se ofertan semestre a semestre, las cuales podrán servirte como ayuda en tus estudios universitarios</p>
      </div>
      <div class="row mx-auto container-fluid producto">
        <div class="product text-center col-lg-3 col-md-4 col-12">
          <img class="img-fluid mb-3" src="img/blog/socioeconomica.png" alt="Destacado 1">
          <h5 class="p-name">Beca por situación socioeconómica</h5>
          <a href="/becas">
          <button class="buy-btn">Información</button>
          </a>
        </div>
        <div class="product text-center col-lg-3 col-md-4 col-12">
          <img class="img-fluid mb-3" src="img/blog/cientifico.png" alt="Destacado 1">
          <h5 class="p-name">Beca por mérito científico</h5>
          <a href="/becas">
          <button class="buy-btn">Información</button>
          </a>
        </div>
        <div class="product text-center col-lg-3 col-md-4 col-12">
          <img class="img-fluid mb-3" src="img/blog/afirmativa.png" alt="Destacado 1">
          <h5 class="p-name">Beca por acción afirmativa</h5>
          <a href="/becas">
          <button class="buy-btn">Información</button>
          </a>
        </div>
        <div class="product text-center col-lg-3 col-md-4 col-12">
          <img class="img-fluid mb-3" src="img/blog/rendimiento.png" alt="Destacado 1">
          <h5 class="p-name">Beca por alto rendimiento académico</h5>
          <a href="/becas">
          <button class="buy-btn">Información</button>
          </a>
        </div>
        <div class="product text-center col-lg-3 col-md-4 col-12">
          <img class="img-fluid mb-3" src="img/blog/discapacitado.png" alt="Destacado 1">
          <h5 class="p-name">Beca por discapacidad</h5>
          <a href="/becas">
          <button class="buy-btn">Información</button>
          </a>
        </div>
        <div class="product text-center col-lg-3 col-md-4 col-12">
          <img class="img-fluid mb-3" src="img/blog/movilidad.png" alt="Destacado 1">
          <h5 class="p-name">Ayuda por movilidad académica</h5>
          <a href="/becas">
          <button class="buy-btn">Información</button>
          </a>
        </div>
      </div>
</section>

    
  
<footer class="mt-5 py-5">
      <div class="row container mx-auto pt-5">
        <div class="footer-one col-lg-3 col-md-6 col-12">
          <img src="img/logos/logoUleam.png" alt="logo" class="uleam uleam__footer">
          <p>Las becas son ayudas a la financiación de unos estudios que se ofrecen al alumnado 
            por parte de un organismo o una entidad.</p>
        </div>
        <div class="footer-one col-lg-3 col-md-6 col-12 mb-3">
          <h5 class="pb-2">Recomendados</h5>
          <ul class="text-uppercase list-unstyled">
            <li><a href="/becas">Becas</a></li>
            <li><a href="/links/">Postulacion</a></li>
            <li><a href="/contacto">Contacto</a></li>
          </ul>
        </div>
        <div class="footer-one col-lg-3 col-md-6 col-12 mb-3">
          <h5 class="pb-2">Contáctanos</h5>
          <div>
            <h6 class="text-uppercase">Dirección</h6>
            <p>Av. Circunvalacion, Manta</p>
          </div>
          <div>
            <h6 class="text-uppercase">Teléfono</h6>
            <p>+59352620288</p>
          </div>
          <div>
            <h6 class="text-uppercase">Correo</h6>
            <p>uleam@live.edu.ec</p>
          </div>
          </ul>
        </div>
        <div class="footer-one col-lg-3 col-md-6 col-12">
          <h5 class="pb-2">Facebook</h5>
          <div class="row">
            <img class="img-fluid w-25 h-100 m-2" src="img/fb/1.png" alt="Imagen Facebook">
            <img class="img-fluid w-25 h-100 m-2" src="img/fb/2.png" alt="Imagen Facebook">
            <img class="img-fluid w-25 h-100 m-2" src="img/fb/3.png" alt="Imagen Facebook">
            <img class="img-fluid w-25 h-100 m-2" src="img/fb/4.png" alt="Imagen Facebook">
            <img class="img-fluid w-25 h-100 m-2" src="img/fb/5.png" alt="Imagen Facebook">
            <img class="img-fluid w-25 h-100 m-2" src="img/fb/6.png" alt="Imagen Facebook">
          </div>
        </div>
      </div>

      <div class="copyright mt-5">
        <div class="row container justify-content-center text-center mx-auto">
            <p class="derechos">Bienestar Estudiantil © 2021. Todos Los Derechos Reservados</p> 
        </div>
      </div>
</footer>

<script src="/js/video.js"></script>

</body>