<section class = "contenedor my-5 py-5">

    <div class="container p-5">
        <div class="card col-md-4 mx-auto" style="width: 18rem;">
            <div class="card-img-top text-center" alt="logo">
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="user" class="svg-inline--fa fa-user" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M224 256c70.7 0 128-57.31 128-128s-57.3-128-128-128C153.3 0 96 57.31 96 128S153.3 256 224 256zM274.7 304H173.3C77.61 304 0 381.6 0 477.3c0 19.14 15.52 34.67 34.66 34.67h378.7C432.5 512 448 496.5 448 477.3C448 381.6 370.4 304 274.7 304z"></path></svg>
            </div>
            <div class="card-body">
                <h5 class="card-title text-center"><strong>Perfil</strong></h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Bienvenid@:</strong> <br>{{user.fullname}}</li>
                <li class="list-group-item"><strong>Usuario:</strong> {{user.username}}</li>
            </ul>
            <div class="card-body">
                <a href="/links/" class="btn btn-primary m-4">Crea tu postulación</a>
            </div>
        </div>
    </div>

</section>