{{!-- {{#if message }}
    
    <div class="container my-4 py-4 ">
        <div class="row">
            <div class="col-md-4 mx-auto mt-5 py-5 pb-0">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{message}}
                    <button  type="button"  class="close" data-dismiss = "alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    
{{/if}}

{{#if success }}
    
    <section class="contenedor my-5 py-5">
        <div class="container mt-5 py-2">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{success}}
                    <button type="button"  class="close" data-dismiss = "alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    </section>
    
{{/if}} --}}