<body>
    <div class="container mt-5 py-5">
        <div class="row">
            <div class="col-md-4 mx-auto mt-5 py-5">
                <div class="card text-center">
                    <div class="card-header">
                        <h2>Inicio de sesión</h2>
                    </div>
                    <div class="card-body">
                        <img src="/img/logos/logoUleam.png" alt="Logo uleam" class="card-img-top pb-4 mx-auto m-2 w-50">
                        <form action="/login" method="POST" id="form">
                            
                            <div class="form-group formulario__grupo form__grupo" id="grupo_usuario">
                                <input type="text" name="username" placeholder="Ingresa tu usuario" class="form-control">
                                <p class="formulario__input-error">Ingrese un usuario válido (De 4 a 16 carácteres)</p>
                            </div>
                            <div class="form-group formulario__grupo form__grupo" id="grupo_password">
                                <input type="password" name="password" placeholder="Ingresa tu contraseña" class="form-control">
                                <p class="formulario__input-error">Ingrese una contraseña válida (De 4 a 12 carácteres)</p>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-success btn-block boton_rl">
                                    Iniciar sesión
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/validacionLogin.js"></script>

</body>

