<body>
    
    <div class="container mt-5 py-4">
        <div class="row">
            <div class="col-md-4 mx-auto mt-5 py-5">
                <div class="card text-center">
                    <div class="card-header">
                        <h2 class="text-uppercase">Registro</h2>
                    </div>
                    <div class="card-body">
                        <div>
                            <img src="/img/logos/registro.png" alt="logo" class="registro">
                        </div>
                        <form action="/registro" method="POST" id="form">
                            <!--GRUPO NOMBRE-->
                            <div class="form-group formulario__grupo form__grupo text-left" id="grupo_nombre">
                                <label for="name">Nombre</label>
                                <input type="text" id="fullname" name="fullname" placeholder="Ingrese su nombre completo" class="form-control" autofocus>
                                <p class="formulario__input-error">Ingrese un nombre válido (De 1 a 50 carácteres)</p>
                            </div>
                            <!--GRUPO USUARIO-->
                            <div class="form-group formulario__grupo form__grupo text-left" id="grupo_usuario">
                                 <label for="user">Usuario</label>
                                <input type="text" id="username" name="username" placeholder="Crea tu usuario" class="form-control">
                                <p class="formulario__input-error">Ingrese un usuario válido (De 4 a 16 carácteres)</p>
                            </div>
                            <!--GRUPO EMAIL-->
                            <div class="form-group formulario__grupo form__grupo text-left" id="grupo_email">
                                 <label for="email">Email</label>
                                <input type="text" id="email" name="email" placeholder="Ingrese su correo institucional" class="form-control">
                                <p class="formulario__input-error">Ingrese un email válido</p>
                            </div>
                            <!--GRUPO CONTRASEÑA-->
                            <div class="form-group formulario__grupo form__grupo text-left" id="grupo_password">
                                 <label for="password">Contraseña</label>
                                <input type="password" id="password" name="password" placeholder="Crea tu contraseña" class="form-control">
                                <p class="formulario__input-error">Ingrese un contraseña válido (De 4 a 12 carácteres)</p>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-success btn-block boton_rl">
                                    Registrarse
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="/js/validacionRegistro.js"></script>    

</body>
