*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{

    background: url(../img/Fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Balsamiq Sans', cursive;

}

.eleccion{

    background: rgba(0, 0, 0, .70);
    width: 100%;
    max-width: 500px;
    margin: 48px auto;
    color: #fff;
    border-radius: 5px;
    padding: 40px;

}

.eleccion h2{

    margin: 0 0 28px 0;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;

}

.eleccion input[type="button"]{

    background: #ff851b;
    color: #fff;
    border: none;
    width: 100%;
    padding: 10px 0;
    font-weight: normal;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.5s ease;

}

.eleccion2 {

    margin: 10px auto;

}



.eleccion input[type="submit"]:hover{

    background: rgba(0, 117, 217, .70);

}

