<body>
    
    <div class="container">
        <div class="row">
            <div class="col-md-4 mx-auto mt-5 py-5">
                <div class="card text-center">
                    <div class="card-header">
                        <h2 class="text-uppercase">Registro</h2>
                    </div>
                    <div class="card-body">
                        <div>
                            <img src="/img/logos/registro.png" alt="logo" class="registro">
                        </div>
                        <form action="/registro" method="POST" id="form" onsubmit= "return validar()">
                            <!--GRUPO CEDULA-->
                            <div class="form-group formulario__grupo form__grupo text-left" id="grupo_nombre">
                                <label for="cedula">Cedula</label>
                                <input type="text" id="cedula" name="cedula" placeholder="Ingrese su cedula" class="form-control input" onblur="revisar(this); revisarCedula(this)" onkeyup="revisar(this); revisarCedula(this)" autocomplete="off" autofocus>
                            </div>
                            <!--GRUPO NOMBRES-->
                            <div class="form-group formulario__grupo form__grupo text-left" id="grupo_usuario">
                                 <label for="fullname">Nombre</label>
                                <input type="text" id="fullname" name="fullname" placeholder="Ingresa tu nombre" class="form-control input" onblur="revisar(this); revisarNombre(this)" onkeyup="revisar(this); revisarNombre(this)" autocomplete="off">
                            </div>
                            <!--GRUPO EMAIL-->
                            <div class="form-group formulario__grupo form__grupo text-left" id="grupo_email">
                                 <label for="email">Email</label>
                                <input type="text" id="email" name="email" placeholder="Ingrese su correo" class="form-control input" onblur="revisar(this); revisarEmail(this)" onkeyup="revisar(this); revisarEmail(this)" autocomplete="off">
                            </div>
                            <!--GRUPO DIRECCION-->
                            <div class="form-group formulario__grupo form__grupo text-left" id="grupo_email">
                                 <label for="direccion">Direccion</label>
                                <input type="text" id="direccion" name="direccion" placeholder="Ingrese su direccion" class="form-control input" onblur="revisar(this); revisarDireccion(this)" onkeyup="revisar(this); revisarDireccion(this)" autocomplete="off">
                            </div>
                            <!--GRUPO TELEFONO-->
                            <div class="form-group formulario__grupo form__grupo text-left" id="grupo_password">
                                 <label for="telefono">Telefono</label>
                                <input type="tel" id="telefono" name="telefono" placeholder="Ingresa tu telefono" class="form-control input" onblur="revisar(this); revisarTelefono(this)" onkeyup="revisar(this); revisarTelefono(this)" autocomplete="off">
                            <div class="form-group enviar">
                                <input type="submit" class="btn btn-success btn-block boton_rl" value="Registrarse" id="enviar">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="/js/validacionRegistro.js"></script>    

</body>
