*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body, input{

    font-family: 'Poppins', sans-serif;

}

.contenedor{

    position:relative;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(179, 245, 250);
    overflow: hidden;

}

.contenedor::before{

    content: '';
    position: absolute;
    width: 2000px;
    height: 2000px;
    border-radius: 45%;
    background: linear-gradient(-45deg, #eb4444, #fe0404);
    top: -10%;
    right: 48%;
    transform: translateY(-50%);
    z-index: 6;
    transition: 1.8s ease-in-out;

}

.formulario_contenedor{

    position:absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

}

.inicio_sesion_registro{

    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
    transition: 1s 0.7s ease-in-out;

}

form{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 5rem;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    transition: 0.2s 0.7s ease-in-out;

}

form.inicio_sesion{

    z-index: 2;

}

form.registro{

    z-index: 1;
    opacity: 0;

}

.titulo{

    font-size: 2.2rem;
    color: rgb(37, 37, 37);
    margin-bottom: 10px;

}

.campo_ingeso{

    max-width: 380px;
    width: 100%;
    height: 55px;
    background-color: #e4e4e4c2;
    margin: 10px 0;
    border-radius: 50px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    margin-bottom: 30px;
}

.campo_ingeso i{

    text-align: center;
    line-height: 50px;
    color:rgb(173, 173, 173);
    font-size: 1.1rem;

}

.campo_ingeso input{

    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;

}

.campo_ingeso input::placeholder{

    color: rgb(117, 117, 117);
    font-weight: 500;

}

.boton{

    width: 150px;
    height: 49px;
    border: none;
    outline: none ;
    border-radius: 50px;
    cursor: pointer;
    background-color: #fd0000ee;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    transition: .5s;

}

.boton:hover{

    background-color: #3d6a83;

}

.contenedor_paneles{

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.panel{

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    text-align: center;
    z-index: 7;

}

.panel_izquierdo{

    pointer-events: all;
    padding: 3rem 17% 2rem 12%;

}

.panel_derecho{

    pointer-events: none;
    padding: 3rem 12% 2rem 17%;

}

.panel .contenido{

    color: #fff;
    transition: 0.9s 0.6s ease-in-out;

}

.panel h3{

    font-weight: 600;
    line-height: 1;
    font-size: 1.5rem;

}

.panel p{

    font-size: 0.95rem;
    padding: 0.7rem 0;

}

.boton.transparente{

    margin: 0;
    background: none;
    border: 2px solid #fff;
    width: 130px;
    height: 41px;
    font-weight: 600;
    font-size: 0.8rem;

}

.imagen{

    width: 100%;
    transition: 1.1s 0.4s ease-in-out;

}

.panel_derecho .contenido, .panel_derecho .imagen{

    transform: translateX(800px);

}

/*Animacion pagina*/

.contenedor.registro_modo:before{

    transform: translate(100%, -50%);
    right: 52%;

}

.contenedor.registro_modo .panel_izquierdo .imagen,
.contenedor.registro_modo .panel_izquierdo .contenido{

    transform: translateX(-800px);

}

.contenedor.registro_modo .panel_derecho .contenido, 
.contenedor.registro_modo .panel_derecho .imagen{

    transform: translateX(0px);

}

.contenedor.registro_modo .panel_izquierdo{

    pointer-events: none;

}

.contenedor.registro_modo .panel_derecho{

    pointer-events: all;

}

.contenedor.registro_modo .inicio_sesion_registro{

    left: 25%;

}

.contenedor.registro_modo form.inicio_sesion{

    z-index: 1;
    opacity: 0;

}

.contenedor.registro_modo form.registro{

    z-index: 2;
    opacity: 1;

}

@media (max-width: 870px){

    .contenedor{

        min-height: 800px;
        height: 100vh;

    }

    .contenedor:before{

        width: 1500px;
        height: 1500px;
        left: 30%;
        bottom: 68%;
        transform: translateX(-50%);
        right: initial;
        top: initial;
        transition: 2s ease-in-out;

    }

    .inicio_sesion_registro{

        width: 100%;
        left: 50%;
        top: 95%;
        transform: translate(-50%, -100%);
        transition: 1s 0.7s ease-in-out;

    }

    .contenedor_paneles{

        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 1fr;
        
    }

    .panel{

        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 2.5rem 8%;

    }

    .panel .contenido{

        padding-right: 15%;
        transition: 0.9s 0.8s ease-in-out;

    }

    .panel h3{

        font-size: 1.2rem;

    }

    .panel p{

        font-size: 0.7rem;
        padding: 0.5rem 0;

    }

    .boton.transparente{

        width: 110px;
        height: 35px;
        font-size: 0.7rem;

    }

    .imagen{

        width: 200px;
        transition: 0.9s 0.6s ease-in-out;

    }

    .panel_izquierdo{

        grid-row: 1 / 2;

    }

    .panel_derecho{

        grid-row: 3 / 4;

    }

    .panel_derecho .contenido, .panel_derecho .imagen{

        transform: translateY(300px);
    
    }
    
    .contenedor.registro_modo:before{

        transform: translate(-50%, 100%);
        bottom: 32%;
        right: initial;

    }

    .contenedor.registro_modo .panel_izquierdo .imagen,
    .contenedor.registro_modo .panel_izquierdo .contenido{

        transform: translateY(-300px);

    }

    .contenedor.registro_modo .inicio_sesion_registro{

        top: 5%;
        transform: translate(-50%, 0);
        left: 50%;

    }

}

@media (max-width: 570px){

    form{

        padding: 0 1.5rem;

    }

    .imagen{

        display: none;

    }

    .panel .contenido{

        padding: 0.5rem 1rem;

    }

    .contenedor:before{

        bottom: 72%;
        left: 50%;

    }

    .contenedor.registro_modo:before{

        bottom: 28%;
        left: 50%;

    }

}

.formulario__validacion-estado {
	position: absolute;
	right: 205px;
	top: 170px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
    margin-top: 5px;
    width: 400px;
    display: none;
}
.fail {
	font-size: 12px;
	margin-bottom: 0;
    margin-top: 5px;
    width: 400px;
}

.formulario__input-error-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

/*.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
    border-radius: 50px;
    width: 320px;
}*/
