
:root{

    --gold1:#F4BD76;
    --gold2:#F6CD8F;
    --gray:#ffffff80;
    --gray2:#f7d9d990;
    --black1:#1A1B1F;
    --black2:#30553B;
    --shadow:0 8px 8px;
    --color_shadow: #00000033;

}

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{

    font-family: 'Poppins', sans-serif;

}

.header{

    background-color: #EB4444;
    height: 130px;
    width: 100%;
    position: static;
    top: 0;
    left: 0;

}

.nav{

    display: flex;
    justify-content: space-between;
    margin: 0 auto;

}

.nav_link{

    color: #FFFFFF;
    text-decoration: none;

}

.logo{

    display: flex;
    align-items: center;
    color: #FFFFFF;
    padding: 0 40px;
    line-height: 130px

}

.nav_menu{

    display: flex;
    margin-right: 40px;
    list-style: none;

}

.nav_menu_item{

    font-size: 15px;
    margin: 0 10px;
    line-height: 130px;
    text-transform: uppercase;
    font-weight: bold;
    width: max-content;

}

.nav_menu_link{

    padding: 8px 12px;
    border-radius: 50px;
    
}

.nav_menu_link:hover{

    background-color: #3d6a83;
    transition: 0.5s;

}

.nav_toggle{

    color: #FFFFFF;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    display: none;
    cursor: pointer;

}

main{

    font-family: 'Poppins', sans-serif;

}

.container{

    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 100px 0;
    height: auto;    

}

.subtitle{

    font-size: 42px;

}

.copy__section{

    color:var(--black2); 
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 60px;

}

.container__cards{

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.card{

    width: 30%;
    padding: 30px 0;
    overflow: hidden;
    background: linear-gradient(180deg, var(--black2)0%, #EB4444 100%);
    border-radius: 10px;
    position: relative;
    text-align: center;
    margin-bottom: 60px;
    box-shadow: 0  0 6px var(--color_shadow);

}

.card:hover {
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}

.card__img{

    text-align: left;
    width: 95%;
    height: 200px;
    object-fit: cover;
    border-radius: 5%;

}

.cards__text{

    text-align: left;
    width: 95%;
    margin-left: auto;
    padding-right: 25px;

}

.card__title{

    font-size: 40px;
    color: #fff;
    margin-bottom: 8px;

}

.card__copy{

    color:#fff;
    margin-bottom: 16px;    

}

.footer{

    background-color: #EB4444;
    padding: 1.5rem 0;
    height: 65px;

}

.footer__texto{

    text-align: center;
    font-family:'Poppins', sans-serif;
    font-size: 15px;
    color: #FFFFFF;

}