* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

body {
    background: rgb(179, 245, 250);
    color: #fff;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
    padding: 0 1.5em;
}

.contenedor {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

.contenedor h1{

    color: black;

}

ul {
    list-style: none;
    padding: 0;
}

.logo {
    text-align: center;
    font-size: 3em;
}

.postulacion_agrupacion {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}

.postulacion_agrupacion > * {
    padding: 1em;
}

.prostulacion_formulario {
    background: #222222;
}

.prostulacion_formulario form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.prostulacion_formulario form label {
    display: block;
}

.prostulacion_formulario form p {
    margin: 0;
    padding: 1em;
}

.prostulacion_formulario form .block {
    grid-column: 1 / 3;
}

.prostulacion_formulario form button,
.prostulacion_formulario form input,
.prostulacion_formulario form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #fff;
    border-bottom: 1px solid #d63031;
}

.prostulacion_formulario form button {
    background: #B70E21;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}

.prostulacion_formulario form button:hover,
.prostulacion_formulario form button:focus {
    background: #d63031;
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
}

/* INFO */
.postulacion_info {
    background: #000;
}

.postulacion_info h4, .postulacion_info ul, .postulacion_info p {
    text-align: center;
    margin: 0 0 1rem 0;
}

/* RESPONSIVO */
@media(min-width: 700px) {
    body {
        padding: 0 4em;
    }
    .postulacion_agrupacion {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .postulacion_agrupacion > * {
        padding: 2em;
    }
    .postulacion_info h4,
    .postulacion_info ul,
    .postulacion_info p {
        text-align: left;
    }
}

.formulario__validacion-estado {
	position: absolute;
	right: 205px;
	top: 170px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
    margin-top: 5px;
    width: 400px;
    color: red;
    display: none;
}

.formulario__input-error-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

/*.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
    border-radius: 50px;
    width: 320px;
}*/

.header{

    background-color: #EB4444;
    height: 130px;
    position: static;

}

.nav{

    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;

}

.nav_link{

    color: #FFFFFF;
    text-decoration: none;

}

.logo{

    display: flex;
    align-items: center;
    color: #FFFFFF;
    padding: 0 40px;
    line-height: 130px

}

.nav_menu{

    display: flex;
    margin-right: 40px;
    list-style: none;

}

.nav_menu_item{

    font-size: 15px;
    margin: 0 10px;
    line-height: 130px;
    text-transform: uppercase;
    font-weight: bold;
    width: max-content;

}

.nav_menu_link{

    padding: 8px 12px;
    border-radius: 50px;
    
}

.nav_menu_link:hover{

    background-color: #3d6a83;
    transition: 0.5s;

}

.nav_toggle{

    color: #FFFFFF;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    display: none;
    cursor: pointer;

}

main{

    font-family: 'Poppins', sans-serif;

}

 .container{
     width: 100%;
     max-width: 1000px;
     margin-left: auto;
     margin-right: auto;
     margin-top: 2em;
     margin-bottom: 2em;
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-gap:20px;
     text-align: center;
 }

 .item{
     background-color: #fd0000ee;
     cursor:pointer;
     box-shadow: 0 0 7px 0 rgba(0,0,0,.095);
     margin: center;
     transition: all 300ms;
     position: relative;
 }
 .item ::after{
     content: "";
     background-color: rgb(179, 245, 250);
     width: 100%;
     height: 100%;
     position: absolute;
     top: 0;
     left: 0;
     transform: scale(0);
     transition: all 300ms;
     opacity: 0;
 }
 .item:hover::after{
     opacity: 1;
     transform: scale(1);
 }
 .item:hover{
     transform: scale(1.05);
 }
 .item-text{
     padding: 2em;

 }

 .item-img{
     max-width: 100%;
     display: block;
 }

 @media screen and(min-width:590px) {
     .container{
         grid-template-columns: repeat(2, ifr);
     }
     
 }

 @media screen and(min-width:960px) {
    .container{
        grid-template-columns: repeat(3, ifr);
    }
    
}

.footer{

    background-color: #EB4444;
    padding: 1.5rem;
    margin-top: 130px;
    height: 65px;

}

.footer__texto{

    text-align: center;
    font-family:'Poppins', sans-serif;
    font-size: 15px;
    color: #FFFFFF;

}