*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
   
    

}
 body{
    border-radius: 50px;
    background-color: rgb(179, 245, 250);
    font-family: 'Poppins', sans-serif;
    
     
 }

 .header{

    background-color: #EB4444;
    height: 130px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;

}

.nav{

    display: flex;
    justify-content: space-between;
    margin: 0 auto;

}

.nav_link{

    color: #FFFFFF;
    text-decoration: none;

}

.logo{

    display: flex;
    align-items: center;
    color: #FFFFFF;
    padding: 0 40px;
    line-height: 130px

}

.nav_menu{

    display: flex;
    margin-right: 40px;
    list-style: none;

}

.nav_menu_item{

    font-size: 15px;
    margin: 0 10px;
    line-height: 130px;
    text-transform: uppercase;
    font-weight: bold;
    width: max-content;

}

.nav_menu_link{

    padding: 8px 12px;
    border-radius: 50px;
    
}

.nav_menu_link:hover{

    background-color: #3d6a83;
    transition: 0.5s;

}

.nav_toggle{

    color: #FFFFFF;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    display: none;
    cursor: pointer;

}

main{

    font-family: 'Poppins', sans-serif;
    padding: 150px 20px 0;

}

 .container{
     width: 100%;
     max-width: 1000px;
     margin-left: auto;
     margin-right: auto;
     margin-top: 2em;
     margin-bottom: 2em;
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-gap:20px;
     text-align: center;
 }

 .item{
     background-color: #EB4444;
     cursor:pointer;
     box-shadow: 0 0 7px 0 rgba(0,0,0,.095);
     margin: center;
     transition: all 300ms;
     position: static;
 }
 .item ::after{
     content: "";
     background-color: rgb(179, 245, 250);
     width: 100%;
     height: 100%;
     position: absolute;
     top: 0;
     left: 0;
     transform: scale(0);
     transition: all 300ms;
     opacity: 0;
 }
 .item:hover::after{
     opacity: 1;
     transform: scale(1);
 }
 .item:hover{
     transform: scale(1.05);
 }
 .item-text{
     padding: 2em;
     color: #FFFFFF;
     font-size: 15px;

 }

 .item-img{
     max-width: 100%;
     display: block;
 }

 @media screen and(min-width:590px) {
     .container{
         grid-template-columns: repeat(2, ifr);
     }
     
 }

 @media screen and(min-width:960px) {
    .container{
        grid-template-columns: repeat(3, ifr);
    }
    
}

.footer{

    background-color: #EB4444;
    padding: 1.5rem 0;
    margin-top: 150px;
    height: 65px;

}

.footer__texto{

    text-align: center;
    font-family:'Poppins', sans-serif;
    font-size: 15px;
    color: #FFFFFF;

}

















