* {

    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

body{

    font-family: 'Poppins', sans-serif;
    background-color: #B3F5FA;

}

.header{

    background-color: #EB4444;
    height: 130px;
    width: 100%;
    position: static;
    top: 0;
    left: 0;

}

.nav{

    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;

}

.nav_link{

    color: #FFFFFF;
    text-decoration: none;

}

.logo{

    display: flex;
    align-items: center;
    color: #FFFFFF;
    padding: 0 40px;
    line-height: 130px

}

.nav_menu{

    display: flex;
    margin-right: 40px;
    list-style: none;

}

.nav_menu_item{

    font-size: 15px;
    margin: 0 10px;
    line-height: 130px;
    text-transform: uppercase;
    font-weight: bold;
    width: max-content;

}

.nav_menu_link{

    padding: 8px 12px;
    border-radius: 50px;
    
}

.nav_menu_link:hover{

    background-color: #3d6a83;
    transition: 0.5s;

}

.nav_toggle{

    color: #FFFFFF;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    display: none;
    cursor: pointer;

}

main{

    font-family: 'Poppins', sans-serif;
    padding: 89px;
}

.botones{

    display: flex;
    justify-content: center;
    
}

.postular{

    margin-right: 15.5px;

}

.exportar{

    margin-right: 15.5px;

}

.boton{

    width: 150px;
    height: 49px;
    border: none;
    outline: none ;
    border-radius: 50px;
    cursor: pointer;
    background-color: #fd0000ee;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    transition: .5s;

}

.boton_link{

    color: #FFFFFF;
    text-decoration: none; 

}

.boton:hover{

    background-color: #3d6a83;

}

.tabla{

    width: 90%;
    background: #FFFFFF;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-auto-rows: 50px;
    box-shadow: 0 0 20px rgb(122, 122, 122);

}

.titulo{

    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 13px;
    color: #696969;

}

.borde{

    background: #E4E4E4;
    border: solid #FFFFFF;
    border-width: 1.5px;

}

.item{

    padding: 10px;
    font-size: 15px;

}

@media(max-width: 768px){
    
    body{

        padding-top: 70px;
    
    }

    .header{

        height: 110px;
    
    }
    
    .logo{
    
        
        padding: 0 20px;
        line-height: 110px;
    
    }
    
    .nav_menu{
    
        flex-direction: column;
        align-items: center;
        margin: 0px;
        background-color: #3d6a83;
        position: fixed;
        left: 0;
        top: 110px;
        width: 100%;
        padding: 20px 0;
        height: calc(100% - 110px);
        overflow-y: auto;
        left: 100%;
        transition: left 0.3s;
    
    }
    
    .nav_menu_item{
        
        line-height: 120px;
    
    }
    
    .nav_menu_link:hover{
    
        background: none;
        color: #83c5f7;
    
    }

    .nav_toggle{

        display: block;
       
    }
    
    .nav_menu_visible{

        left: 0;

    }

    .nav_toggle:focus:not(:focus-visible){ /*Solo cuando este el focus visble quita el outline*/

        outline: none;

    }

}

.footer{

    background-color: #EB4444;
    padding: 1.5rem 0;
    margin-top: 150px;
    height: 65px;

}

.footer__texto{

    text-align: center;
    font-family:'Poppins', sans-serif;
    font-size: 15px;
    color: #FFFFFF;

}
