* {

    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

body{

    font-family: 'Poppins', sans-serif;
    background-color: #B3F5FA;
    /*padding: 90px 20px 0;*/

}
.header{

    background-color: #EB4444;
    height: 130px;
    width: 100%;
    position: static;
    top: 0;
    left: 0;

}

.nav{

    display: flex;
    justify-content: space-between;
    margin: 0 auto;

}

.nav_link{

    color: #FFFFFF;
    text-decoration: none;

}

.logo{

    display: flex;
    align-items: center;
    padding: 0 40px;

}

.nav_menu{

    display: flex;
    margin-right: 40px;
    list-style: none;

}

.nav_menu_item{

    font-size: 15px;
    margin: 0 10px;
    line-height: 130px;
    text-transform: uppercase;
    font-weight: bold;
    width: max-content;

}

.nav_menu_link{

    padding: 8px 12px;
    border-radius: 50px;
    
}

.nav_menu_link:hover{

    background-color: #3d6a83;
    transition: 0.5s;

}

.nav_toggle{

    color: #FFFFFF;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    display: none;
    cursor: pointer;

}

main{

    font-family: 'Poppins', sans-serif;
    padding: 0 20px;

}

.imagen{

    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    display: block;
    margin: auto;
    position: static;
    margin-top: 50px;

}

.imagen img
{
    
    top: 200px;
    left: 580px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1 {

    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;

}

h2{

    padding-top: 10px;
    padding-bottom: 10px;

}

p{

    text-align: justify;

}

.footer{

    background-color: #EB4444;
    padding: 1.5rem 0;
    margin-top: 150px;
    max-width: 100%;
    height: 65px;

}

.footer__texto{

    text-align: center;
    font-family:'Poppins', sans-serif;
    font-size: 15px;
    color: #FFFFFF;

}
