*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body, input{

    font-family: 'Poppins', sans-serif;

}

.contenedor{

    position:relative;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(179, 245, 250);
    overflow: hidden;

}

.formulario_contenedor{

    position:absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

}

.titulo{

    font-size: 2.2rem;
    color: rgb(37, 37, 37);
    margin-bottom: 10px;

}

.inicio_sesion_registro{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -50%);
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;

}

.campo_ingeso{

    max-width: 380px;
    width: 100%;
    height: 55px;
    background-color: #e4e4e4c2;
    margin: 10px 0;
    border-radius: 50px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    margin-bottom: 35px;
}

.campo_ingeso input{

    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;

}
.campo_ingeso i{

    text-align: center;
    line-height: 50px;
    color:rgb(173, 173, 173);
    font-size: 1.1rem;

}

.campo_ingeso input::placeholder{

    color: rgb(117, 117, 117);
    font-weight: 500;

}

.boton{

    width: 150px;
    height: 49px;
    border: none;
    outline: none ;
    border-radius: 50px;
    cursor: pointer;
    background-color: #fd0000ee;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    transition: .5s;

}

.boton:hover{

    background-color: #3d6a83;

}
.formulario__validacion-estado {
	position: absolute;
	right: 205px;
	top: 170px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
    margin-top: 5px;
    width: 400px;
    display: none;
}

.formulario__input-error-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

/*.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
    border-radius: 50px;
    width: 320px;
}*/



