*{

    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

body, input{

    font-family: 'Poppins', sans-serif;
    background-color: #B3F5FA;

}

.contenedor{

    position:relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;

}

.formulario_contenedor{

    position:static;
    width: 100%;
    height: 100%;

}

.titulo{

    font-size: 2.2rem;
    color: rgb(37, 37, 37);
    margin-bottom: 10px;

}

.inicio_sesion_registro{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -50%);
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;

}

.campo_ingeso{

    max-width: 380px;
    width: 100%;
    height: 55px;
    background-color: #e4e4e4c2;
    margin: 10px 0;
    border-radius: 50px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    margin-bottom: 35px;
}

.campo_ingeso input{

    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;

}
.campo_ingeso i{

    text-align: center;
    line-height: 50px;
    color:rgb(173, 173, 173);
    font-size: 1.1rem;

}

.campo_ingeso input::placeholder{

    color: rgb(117, 117, 117);
    font-weight: 500;

}

.boton{

    width: 150px;
    height: 49px;
    border: none;
    outline: none ;
    border-radius: 50px;
    cursor: pointer;
    background-color: #fd0000ee;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    transition: .5s;

}

.boton:hover{

    background-color: #3d6a83;

}
.formulario__validacion-estado {
	position: absolute;
	right: 205px;
	top: 170px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
    margin-top: 5px;
    width: 400px;
    display: none;
}

.formulario__input-error-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

/*.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
    border-radius: 50px;
    width: 320px;
}*/

.header{

    background-color: #EB4444;
    height: 130px;
    width: 100%;
    position: static;
    top: 0;
    left: 0;

}

.nav{

    display: flex;
    justify-content: space-between;
    margin: 0 auto;

}

.nav_link{

    color: #FFFFFF;
    text-decoration: none;

}

.logo{

    display: flex;
    align-items: center;
    color: #FFFFFF;
    padding: 0 40px;
    line-height: 130px

}

.nav_menu{

    display: flex;
    margin-right: 40px;
    list-style: none;

}

.nav_menu_item{

    font-size: 15px;
    margin: 0 10px;
    line-height: 130px;
    text-transform: uppercase;
    font-weight: bold;
    width: max-content;

}

.nav_menu_link{

    padding: 8px 12px;
    border-radius: 50px;
    
}

.nav_menu_link:hover{

    background-color: #3d6a83;
    transition: 0.5s;

}

.nav_toggle{

    color: #FFFFFF;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    display: none;
    cursor: pointer;

}

main{

    font-family: 'Poppins', sans-serif;

}

/*@media(max-width: 768px){
    
    body{

        padding-top: 70px;
    
    }

    .header{

        height: 110px;
    
    }
    
    .logo{
    
        
        padding: 0 20px;
        line-height: 110px;
    
    }
    
    .nav_menu{
    
        flex-direction: column;
        align-items: center;
        margin: 0px;
        background-color: #3d6a83;
        position: fixed;
        left: 0;
        top: 110px;
        width: 100%;
        padding: 20px 0;
        height: calc(100% - 110px);
        overflow-y: auto;
        left: 100%;
        transition: left 0.3s;
    
    }
    
    .nav_menu_item{
        
        line-height: 120px;
    
    }
    
    .nav_menu_link:hover{
    
        background: none;
        color: #83c5f7;
    
    }

    .nav_toggle{

        display: block;
       
    }
    
    .nav_menu_visible{

        left: 0;

    }

    .nav_toggle:focus:not(:focus-visible){ /*Solo cuando este el focus visble quita el outline

        outline: none;

    }

} */

.footer{

    background-color: #EB4444;
    padding: 1.5rem 0;
    height: 65px;

}

.footer__texto{

    text-align: center;
    font-family:'Poppins', sans-serif;
    font-size: 15px;
    color: #FFFFFF;

}

