<section class="contenedor my-5 py-5">
    <div class="container py-5">

        <h3 class="p-4 text-center">Postulación</h3>

        <div class="row">

            <div class="col-md-4  ml-auto mr-auto">

                <div class="card">

                    <div class="card-body">

                        <div>
                            <img src="/img/logos/postulacion.png" alt="logo" class="registro">
                        </div>

                        <form action="/links/add" method="POST">

                            {{!-- NOMBRE --}}
                            <div class="form-group">
                                <label for="nombre">Nombre</label>
                                <input type="text" class="form-control" name = "nombre" placeholder="Alexander" autofocus>
                            </div>

                            {{!-- APELLIDO --}}
                            <div class="form-group">
                                <label for="apellido">Apellido</label>
                                <input type="text" class="form-control" name = "apellido" placeholder="Gerrero">
                            </div>

                            {{!-- FECHA DE NACIMIENTO --}}
                            <div class="form-group">
                                <label for="fecha">Fecha De Nacimiento</label>
                                <input type="date" class="form-control" name = "fecha" placeholder="03/10/1998">
                            </div>

                            {{!-- EDAD --}}
                            <div class="form-group">
                                <label for="edad">Edad</label>
                                <input type="text" class="form-control" name = "edad" placeholder="25">
                            </div>

                            {{!-- CORREO --}}
                            <div class="form-group">
                                <label for="correo">Correo</label>
                                <input type="email" class="form-control" name = "correo" placeholder="example@example.com">
                            </div>

                            {{!-- TIPO DE SANGRE --}}
                            <div class="form-group">
                                <label for="sangre">Tipo De Sangre</label>
                                <input type="text" class="form-control" name = "sangre" placeholder="O+">
                            </div>

                            {{!-- SEXO --}}
                            <div class="form-group">
                                <label for="sexo">Sexo</label>
                                <input type="text" class="form-control" name = "sexo" placeholder="Masculino">
                            </div>

                            {{!-- CIUDAD DE NACIMIENTO --}}
                            <div class="form-group">
                                <label for="nacimiento">Ciudad De Nacimiento</label>
                                <input type="text" class="form-control" name = "ciudad" placeholder="Manta">
                            </div>

                            {{!-- DIRECCION --}}
                            <div class="form-group">
                                <label for="direccion">Dirección</label>
                                <input type="text" class="form-control" name = "direccion" placeholder="Calle 4 y Av 12">
                            </div>

                            {{!-- TELEFONO --}}
                            <div class="form-group">
                                <label for="tel">Teléfono</label>
                                <input type="text" class="form-control" name = "telefono" placeholder="0919163116">
                            </div>

                            {{!-- OCUPACION --}}
                            <div class="form-group">
                                <label for="ocupacion">Ocupación</label>
                                <input type="text" class="form-control" name = "ocupacion" placeholder="profesor">
                            </div>

                            {{!-- ESTADO CIVIL --}}
                            <div class="form-group">
                                <label for="estado">Estado Civil</label>
                                <input type="text" class="form-control" name = "estado" placeholder="Casado">
                            </div>

                            {{!-- MATRIZ --}}
                            <div class="form-group">
                                <label for="matriz">Matriz</label>
                                <input type="text" class="form-control" name = "matriz" placeholder="Manta">
                            </div>

                            {{!-- FACULTAD --}}
                            <div class="form-group">
                                <label for="facultad">Facultad</label>
                                <input type="text" class="form-control" name = "facultad" placeholder="Ciencias Informáticas">
                            </div>

                            {{!-- CARRERA --}}
                            <div class="form-group">
                                <label for="carrera">Carrera</label>
                                <input type="text" class="form-control" name = "carrera" placeholder="Ingeníeria en Tecnologías de la Información">
                            </div>

                            {{!-- SEMESTRE --}}
                            <div class="form-group">
                                <label for="semestre">Semestre</label>
                                <input type="text" class="form-control" name = "semestre" placeholder="5">
                            </div>

                            {{!-- MATRICULA --}}
                            <div class="form-group">
                                <label for="matricula">Matrícula</label>
                                <input type="text" class="form-control" name = "matricula" placeholder="8181771-M">
                            </div>

                            <div class="form-group">
                                <button class="btn btn-success btn-block">Postular</button>
                            </div>

                        </form>

                    </div>

                </div>

            </div>
        
        </div>

    </div>

</section>

<footer class="mt-5 py-5">
      <div class="row container mx-auto pt-5">
        <div class="footer-one col-lg-3 col-md-6 col-12">
          <img src="img/logos/logoUleam.png" alt="logo" class="uleam uleam__footer">
          <p>Las becas son ayudas a la financiación de unos estudios que se ofrecen al alumnado 
            por parte de un organismo o una entidad.</p>
        </div>
        <div class="footer-one col-lg-3 col-md-6 col-12 mb-3">
          <h5 class="pb-2">Recomendados</h5>
          <ul class="text-uppercase list-unstyled">
            <li><a href="/becas">Becas</a></li>
            <li><a href="/links/">Postulacion</a></li>
            <li><a href="/contacto">Contacto</a></li>
          </ul>
        </div>
        <div class="footer-one col-lg-3 col-md-6 col-12 mb-3">
          <h5 class="pb-2">Contáctanos</h5>
          <div>
            <h6 class="text-uppercase">Dirección</h6>
            <p>Av. Circunvalacion, Manta</p>
          </div>
          <div>
            <h6 class="text-uppercase">Teléfono</h6>
            <p>+59352620288</p>
          </div>
          <div>
            <h6 class="text-uppercase">Correo</h6>
            <p>uleam@live.edu.ec</p>
          </div>
          </ul>
        </div>
        <div class="footer-one col-lg-3 col-md-6 col-12">
          <h5 class="pb-2">Facebook</h5>
          <div class="row">
            <img class="img-fluid w-25 h-100 m-2" src="/img/fb/1.png" alt="Imagen Facebook">
            <img class="img-fluid w-25 h-100 m-2" src="/img/fb/2.png" alt="Imagen Facebook">
            <img class="img-fluid w-25 h-100 m-2" src="/img/fb/3.png" alt="Imagen Facebook">
            <img class="img-fluid w-25 h-100 m-2" src="/img/fb/4.png" alt="Imagen Facebook">
            <img class="img-fluid w-25 h-100 m-2" src="/img/fb/5.png" alt="Imagen Facebook">
            <img class="img-fluid w-25 h-100 m-2" src="/img/fb/6.png" alt="Imagen Facebook">
          </div>
        </div>
      </div>

      <div class="copyright mt-5">
        <div class="row container justify-content-center text-center mx-auto">
            <p class="derechos">Bienestar Estudiantil © 2021. Todos Los Derechos Reservados</p> 
        </div>
      </div>
</footer>