    {{!-- <div class="container p-5">
        <div class="row">
            {{#each links}}
                <div class="col-md-3 pt-4">
                    <div class="card text-center">
                        <div class="card-body">
                            <h3 class="card-title text-uppercase">
                                {{nombre}}
                            </h3>
                            <h5><p>{{apellido}}</p></h5>
                            <p class="m-2">Creado</p>
                            <p>{{timeago create_at}}</p>
                            <a href="/links/delete/{{id}}" class="btn btn-danger">Borrar Postulacion</a>
                            <a href="/links/edit/{{id}}" class="btn btn-secondary">Edit</a>
                        </div>
                    </div>
                </div>
            {{else}}    
                <div class="col-md-4 mx-auto my-5">
                    <div class="card card-body text-center">
                        <p>No hay postulaciones aún</p>
                        <a href="/links/add">Postula Ahora!</a>
                    </div>
                </div>
            {{/each}}
        
        </div>

    </div> --}}

<section class="my-5 py-5">
  <div class="container my-5 py-5">
    <div class="row">

      {{#each links}}

      <div class="col-md-3 text-center">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top logo_postu" src="/img/logos/beca.png" alt="logo">
          <div class="card-body">
            <h5 class="text-uppercase"><strong>Nombre:</strong></h5>
            <p class="card-title text-uppercase">{{nombre}} {{apellido}}</p>
            <h5 class="card-text text-uppercase"><strong>Creador:</strong></h5>
            <p class="card-text text-uppercase">{{timeago created_at}}</p>
            <div class="text-center">
              <a href="/links/delete/{{id}}" class="btn btn-danger boton_postu">Borrar Postulación</a>
              <a href="/links/edit/{{id}}" class="btn btn-warning boton_postu">Editar Postulación</a>
            </div>
          </div>
        </div>
      </div>

      {{else}}

      <div class="col-md-3 text-center">
        <div class="card card-body text-center" style="width: 18rem;">
          <p>No hay postulaciones creadas</p>
          <a href="/links/add">Crear nueva postulación</a>
        </div>
      </div>

      {{/each}}

    </div>
  </div>
</section>
    
<footer class="mt-5 py-5">
      <div class="row container mx-auto pt-5">
        <div class="footer-one col-lg-3 col-md-6 col-12">
          <img src="/img/logos/logoUleam.png" alt="logo" class="uleam uleam__footer">
          <p>Las becas son ayudas a la financiación de unos estudios que se ofrecen al alumnado 
            por parte de un organismo o una entidad.</p>
        </div>
        <div class="footer-one col-lg-3 col-md-6 col-12 mb-3">
          <h5 class="pb-2">Recomendados</h5>
          <ul class="text-uppercase list-unstyled">
            <li><a href="/becas">Becas</a></li>
            <li><a href="/links/">Postulacion</a></li>
            <li><a href="/contacto">Contacto</a></li>
          </ul>
        </div>
        <div class="footer-one col-lg-3 col-md-6 col-12 mb-3">
          <h5 class="pb-2">Contáctanos</h5>
          <div>
            <h6 class="text-uppercase">Dirección</h6>
            <p>Av. Circunvalacion, Manta</p>
          </div>
          <div>
            <h6 class="text-uppercase">Teléfono</h6>
            <p>+59352620288</p>
          </div>
          <div>
            <h6 class="text-uppercase">Correo</h6>
            <p>uleam@live.edu.ec</p>
          </div>
          </ul>
        </div>
        <div class="footer-one col-lg-3 col-md-6 col-12">
          <h5 class="pb-2">Facebook</h5>
          <div class="row">
            <img class="img-fluid w-25 h-100 m-2" src="/img/fb/1.png" alt="Imagen Facebook">
            <img class="img-fluid w-25 h-100 m-2" src="/img/fb/2.png" alt="Imagen Facebook">
            <img class="img-fluid w-25 h-100 m-2" src="/img/fb/3.png" alt="Imagen Facebook">
            <img class="img-fluid w-25 h-100 m-2" src="/img/fb/4.png" alt="Imagen Facebook">
            <img class="img-fluid w-25 h-100 m-2" src="/img/fb/5.png" alt="Imagen Facebook">
            <img class="img-fluid w-25 h-100 m-2" src="/img/fb/6.png" alt="Imagen Facebook">
          </div>
        </div>
      </div>

      <div class="copyright mt-5">
        <div class="row container justify-content-center text-center mx-auto">
            <p class="derechos">Bienestar Estudiantil © 2021. Todos Los Derechos Reservados</p> 
        </div>
      </div>
</footer>